<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="utf-8">

<!-- body 부터 /body 까지 layout.html에 내용이 들어가게 됩니다. -->	
	<body th:fragment="body">
	<div>
		<!-- 페이지 별 내용 들어갈 부분 -->
		<th:block layout:fragment="contents" />
	</div>
	<div id="sessionid" th:text = "${session.id}" style="display : none"></div>
	<!-- footer -->
	<th:block th:include="include/footer" />
	<!-- 공통으로 사용할 js들 -->
	
	<!-- 특정 페이지 전용 js들 -->
	<th:block layout:fragment="page_js" />

	<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase-messaging.js"></script>
	
	<script>

	var config = {
			  apiKey: "AIzaSyCvPX3WEIFtsNbN3JGsQzIvVSDFAOKGoqI",
			  authDomain: "sensorcloud-cb820.firebaseapp.com",
			  databaseURL: "https://sensorcloud-cb820.firebaseio.com",
			  projectId: "sensorcloud-cb820",
			  storageBucket: "sensorcloud-cb820.appspot.com",
			  messagingSenderId: "544037446198"
		};
		firebase.initializeApp(config);
	  	
	    const messaging = firebase.messaging();

		messaging.usePublicVapidKey("BAiJYfYEXBiHRzsKJFqW5en4dEkOwKFr3KRPJIpNZ3kWk6QP0DHXOIMtoKdN6ca9Tk_JUo25btDxXFtheXjGRuE");
		
		
		
		
 		navigator.serviceWorker.register('/firebase-messaging-sw.js').then(function(registartion){
			 
// 			 messaging.requestPermission().then(function(){
// 					console.log('요청 허용');
// 					return messaging.getToken();
// 				})
// 				.then(function(token){
// 					console.log(token);
// 				})
// 				.catch(function(err){
// 					console.log('요청 거절');
// 				});

			 
			 
			 var sessionid = $("#sessionid").text();
								
			 if(sessionid == "admin"){
				
				messaging.onMessage(function(payload) {
					  console.log('Message received. ', payload);
					  var sender = JSON.stringify(payload.notification.body);
					  var link = JSON.stringify(payload.notification.icon);
					  var sessionid = $("#sessionid").text();
						 setTimeout(function() {
							  notify(sender, link);
						 });
					  console.log("메시지 출력");	 
				}); //onmessage 종료
				
			 } // admin 체크 종료
		 
			 
		self.addEventListener('notificationonclick', function(event) {
				 console.log("Asdad");
		});
			 
			 
 }); // register 종료
		
 
		function notify(sender, link) {
            if (Notification.permission !== 'granted') {
                alert('notification is disabled');
            }
            else {
                var notification = new Notification('승급 요청', {
                       icon: '/resources/img/logo.png',
                   	   body:  sender,
                   	   click_action: 'https://www.google.com'
                });
                
                $(notification).on('click', function(){
                	console.log("aaa");
                });
                
                notification.addEventListener('click', function(){
                	alert("ttt");
                });
                
                notification.onclick = function(event) {
                	alert("qqq");
                }
                
                self.addEventListener('notificationclick', function(event) {
                	  event.notification.close();
                	  event.waitUntil(self.clients.openWindow(YOUR_URL_HERE));
                });
                
                self.addEventListener("notificationclick", (ev) => {
                	  console.log("Notification clicked!");
                	  //clients.openWindow("https://jameshfisher.com/");
                });
                
           }
            
		} 
	</script>
	
</body>
</html>