<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="utf-8">

<!-- body 부터 /body 까지 layout.html에 내용이 들어가게 됩니다. -->	
<body th:fragment="body">

	<header class="main-header" style="height : 80px">
		<div class="left">
		<h1><a href="/main">str</a></h1>
		<a href="#a" class="all">all Menu</a>
		<div class="nav">
			<h2>Menu</h2>
		  <nav id="menu">
		   <ul class="test">
			<li><a href="/sitelist">현장목록</a></li>
			<li><a href="/check">점검이력</a></li>
			<li><a href="/timeline">타임라인</a></li>
			<li><a href="/mysensor">보유센서</a><li>
			<li><a href="/manage">사용자관리</a></li>
		</ul>
	      </nav>
	      <div>
	      	<a href="mypage">마이페이지</a>
	      	<a href="logout">로그아웃</a>
	      </div>
	      <a href="#a" class="close">close</a>
	</div>
</div>
	    <ul class="a2">
	    	<li><a href="/mypage">마이페이지</a></li>
	    	<li class="hide"><a href="/login/logout">로그아웃</a></li>
	    	<a href="#a" class="manclose">close</a>
	    	<!-- <li class="logout"><a href="#a">man</a></li> -->
	    </ul>
	    <div class="man">
	    	<div class="manmenu">
	    		<ul>
	    		<li><a href="mypage">마이페이지</a></li>
	    	    <li><a href="logout">로그아웃</a></li>
	    	</ul>
	    	</div>
	    </div>
	</header>
	<div class="dim"></div>
	<div>
		<!-- 페이지 별 내용 들어갈 부분 -->
		<th:block layout:fragment="contents" />
	</div>
	<!-- footer -->
	<th:block th:include="include/footer" />
	<!-- 공통으로 사용할 js들 -->
	
	<!-- 특정 페이지 전용 js들 -->
	<th:block layout:fragment="page_js" />
	
</body>
</html>