<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
<!-- 공통 설정(css, js 등) -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">

	<script src="https://kit.fontawesome.com/d1b2425157.js"></script>
	<!-- CSS Files -->
	<link rel="stylesheet" href="/resources/css/default/bootstrap.min.css" />
	<link rel="stylesheet" href="/resources/css/default/azzara.min.css" />

	<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/resources/js/default/popper.min.js"></script>
<script src="/resources/js/default/bootstrap.min.js"></script>
<script type="text/javascript" src="customScript.js"></script>
<!-- jQuery UI -->
<script src="/resources/js/default/jquery-ui.min.js"></script>
<script src="/resources/js/default/jquery.ui.touch-punch.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="/resources/js/default/jquery.scrollbar.min.js"></script>

<!-- Moment JS -->
<script src="/resources/js/default/moment.min.js"></script>

<!-- Bootstrap Toggle -->
<script src="/resources/js/default/bootstrap-toggle.min.js"></script>

<!-- Azzara JS -->
<script src="/resources/js/default/ready.min.js"></script>
<!-- 개별 설정 -->
<th:block layout:fragment="page_head"></th:block>
<th:block layout:fragment="page_lib"></th:block>
<th:block layout:fragment="page_css"></th:block>
</head>

</html>