<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
<!-- 공통 설정(css, js 등) -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="resources/css/style.css">
	<link rel="stylesheet" href="resources/css/default.css">
	<link rel="stylesheet" media="(min-width:701px) and (max-width:1000px)" href="resources/css/tablet.css">
	<link rel="stylesheet" media="(min-width:0px) and (max-width:700px)" href="resources/css/mobile.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="resources/js/default.js"></script>
<!-- 개별 설정 -->
<th:block layout:fragment="page_head"></th:block>
<th:block layout:fragment="page_lib"></th:block>
<th:block layout:fragment="page_css"></th:block>
</head>

</html>