<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav th:fragment="nav">

	<header class="main-header" style="height : 80px">
		<div class="left">
		<h1><a href="/main">str</a></h1>
		<a href="#a" class="all">all Menu</a>
		<div class="nav">
			<h2>Menu</h2>
		  <nav id="menu">
		   <ul class="test">
			<li><a href="/sitelist/1">현장관리</a></li>
			<li><a href="/check/1">점검이력</a></li>

			<li><a href="/time/1">타임라인</a></li>
			<li><a href="/mysensor/1">보유센서</a><li>
			<li><a href="/manage/1">사용자관리</a></li>
		</ul>
	      </nav>
	      <div>
	      	<a href="/mypage/1">마이페이지</a>
	      	<a href="/logout">로그아웃</a>
	      </div>
	      <a href="#a" class="close">close</a>
	</div>
</div>
	    <ul class="a2">
	    	<li><a href="/mypage/1">마이페이지</a></li>
	    	<li class="hide"><a href="/login/logout">로그아웃</a></li>
	    	<a href="#a" class="manclose">close</a>
	    	<!-- <li class="logout"><a href="#a">man</a></li> -->
	    </ul>
	    <div class="man">
	    	<div class="manmenu">
	    		<ul>
	    		<li><a href="/mypage">마이페이지</a></li>
	    	    <li><a href="/logout">로그아웃</a></li>
	    	</ul>
	    	</div>
	    </div>
	</header>
	<div class="dim"></div>
</nav>
</html>