<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav th:fragment="nav">
<div class="footer">
<span id="f1">( 38655 ) 경상북도 경산시 강변서로53길 15-5 (정평동) </span>
<span id="f2">TEL) 053-812-8787 / FAX) 053-812-4747</span>
<span id="fright">Copyright © 2019 Sensor Cloud</span>
</div>
	<header class="main-header" style="height : 50px">

<div class="left">
		<h1><a href="/">str</a></h1>
		<a href="#a" class="all">all Menu</a>
		<div class="nav">
			<h2>Menu</h2>
		  <nav id="menu">
		   <ul class="test">
			<li><a href="/sitelist/1">현장관리</a></li>
			<li><a href="/check/1">점검이력</a></li>
			<li><a href="/time/1">타임라인</a></li>
			<li><a href="/mysensor/1">보유센서</a><li>
			<li id="manage"><a href="/manage/1">사용자관리</a></li>
		</ul>
	      </nav> 
	      <div th:if="${session.id != null}" >
	      	<p th:text="${session.name} + 님"></p> 	
	      	<a href="/logout">로그아웃</a>
	      	<a href="/mypage/1">마이페이지</a>
	      </div>
	      <div th:if="${session.id == null}" >
	      	<a href="/login">로그인</a>
	      </div>
	      <a href="#a" class="close">close</a>
	</div>
</div>
	    <ul class="a2" th:if="${session.id != null}" >
	    <p th:text="${session.name} + 님"></p> 	
	    	<li class="hide"><a href="/logout">로그아웃</a></li>
	    	<a href="#a" class="manclose">close</a>
	    	<li><a href="/mypage/1">마이페이지</a></li>
	    	<!-- <li class="logout"><a href="#a">man</a></li> -->
	    </ul>
	     <ul class="a2" th:if="${session.id == null}" >
	    	<li class="hide"><a href="/login">로그인</a></li>
	    	<a href="#a" class="manclose">close</a>
	    	<!-- <li class="logout"><a href="#a">man</a></li> -->
	    </ul>
	    <div class="man">
	    	<div class="manmenu">
	    	<ul th:if="${session.id != null}">
	    	<p th:text="${session.name} + 님"></p> 
	    	    <li><a href="/logout">로그아웃</a></li>
	    	    <li><a href="/mypage">마이페이지</a></li>
	    	</ul>
	    	<ul th:if="${session.id == null}">
	    	    <li><a href="/login">로그인</a></li>
	    	</ul>
	    	</div>
	    </div>
	</header>
	<div class="dim"></div>
</nav>
</html>