<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>센서 추가</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/site/asidebar.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/mysensor/sensorlist.css">
</th:block>

<th:block layout:fragment="contents">
		<aside class="aside" th:each="siteInfo : ${siteInfo}">
	
		<a> <svg version="1.1" id="nav-btn"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 512 512" enable-background="new 0 0 512 512"
				xml:space="preserve">
    <path id="list-view-icon"
					d="M462,108.857H50V50h412V108.857z M462,167.714H50v58.857h412V167.714z M462,285.429H50v58.857h412
      V285.429z M462,403.143H50V462h412V403.143z" />
  </svg>
		</a>
			<h1 th:text="${siteInfo.site_name}"></h1>
			<span id="sid" th:text="${siteInfo.site_id}" style="display:none"></span>
			
		<nav id="nav">
			<ul>
				<li><a href="/site/" th:attrappend="href=${siteInfo.site_id} + '/sitealarm'">알림</a></li>
				<li><a href="/site/" th:attrappend="href=${siteInfo.site_id} + '/siterepair/1'" >수리내역</a></li>
				<li><a href="/site/" th:attrappend="href=${siteInfo.site_id} + '/sensormanage/1'">센서관리</a></li>
<!-- 				<li style="line-height: 40px; margin-top: 40px;"><a href="/site/" th:attrappend="href=${siteInfo.site_id} + '/download'">스크립트</a></li>
				<li style="line-height: 40px; margin-bottom: 40px;"><a href="/site/" th:attrappend="href=${siteInfo.site_id} + '/download'">다운로드</a></li>
				 -->
				<li><span id="num">연락망</span> 
				<span id="down" style="display: inline"> 
					<img src="/resources/img/down-arrow.svg">
				</span> 
				<span id="up" style="display: none"> 
					<img src="/resources/img/up-arrow.svg">
				</span>
				</li>
			<div class="phonenumber" style="display: none" th:each="alarmMember : ${alarmMember}">
				<span class="mang" th:text="${alarmMember.name}"></span>
				<span class="mang" th:text="${alarmMember.tel}"></span>
			</div>	
		
			</ul>
		</nav>
	</aside>

<div id="container" style="margin-top:8%">
		<div id="main-content">
			<div class="title-header">
				<button id="add" value="add">설치센서 추가</button>
			</div>

			<table id="mysensor">
				<thead>
					<tr>
						<th scope="col">시리얼넘버</th>
						<th scope="col">변수이름</th>
						<th scope="col">상한값</th>
						<th scope="col">하한값</th>
					</tr>
				</thead>
				
				<tbody id="sensorlist" th:if="${sensormanage == null}">
				 	<tr th:each="sensorlist : ${sensorlist}">
						<td th:text="${sensorlist.sensor_sn}"></td>
						<td th:text="${sensorlist.program_var}"></td>
						<td th:text="${sensorlist.upper_limit}"></td>
						<td th:text="${sensorlist.lower_limit}"></td>
						<td style="display : none" th:text="${sensorlist.sensor_id}"></td>
					</tr> 
				</tbody>
				
				<tbody id="sensorlist" th:if="${sensormanage != null}">
				 	<tr th:each="sensormanage : ${sensormanage}">
						<td th:text="${sensormanage.sensor_sn}"></td>
						<td th:text="${sensormanage.program_var}"></td>
						<td th:text="${sensormanage.upper_limit}"></td>
						<td th:text="${sensormanage.lower_limit}"></td>
						<td style="display : none" th:text="${sensormanage.sensor_id}"></td>
					</tr> 
				</tbody>
			</table>
		</div>

		<div class="pagination-container">
			<nav class="pagination-content">
				<div class="pagination">
					<a class="firstpage"> << </a>
					<a class="pagination-newer"> < </a> 
					
					<span class="pagination-inner" th:each="pageNum : ${pageNum}">
						 <a th:id="${pageNum}" th:text="${pageNum}"></a>
					</span> 
					
					<a class="pagination-older"> > </a>
					<a class="lastpage"> >> </a>
					<span id="lastNum" th:text="${lastNum}" style=display:none></span>
				</div>
			</nav>
		</div>

		<div class="search">
			<div class="select">
				<select id="search-select">
					<option value="sensor_sn">시리얼넘버</option>
					<option value="program_var">변수이름</option>
				</select>
			</div>
			<section class="search-box">
				<div class="search-content">
					<input type="text" id="keyword"/>
				</div>
				<div class="search-button">
					<button id="search" >Search</button>
				</div>
			</section>
		</div>
</div>
</th:block>

<th:block layout:fragment="page_js">
	<script src="/resources/js/site/asidebar.js"></script>
	<script src="/resources/js/site/sensormanage.js"></script>
</th:block>
</html>