<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>현장점검</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css"
		href="/resources/css/site/sitelist.css">
</th:block>
     
<th:block layout:fragment="contents">
	<div id="container">
		<div id="main-content">
			<div class="title-header">
				<h1>현장목록</h1>
				<a href="/site/siteadd"><button id="add" value="add">현장추가</button></a>
			</div>

			<table>
				<thead>
					<tr>
						<th scope="col" style="width:8%;">현재상태</th>
						<th scope="col" style="width:30%;">현장이름</th>
						<th scope="col" style="width:43%;">주소</th>
						<th scope="col" style="width:30%;">데이터갱신시간</th>
					</tr>
				</thead>
				<tbody id="site">
					<tr th:each="content : ${content}">
						 <td th:switch="${content.site_status}">
							<img src="/resources/img/gray.svg"  th:case="'0'">
							<img src="/resources/img/green.svg" th:case="'1'">
							<img src="/resources/img/red.svg"   th:case="'2'">
						</td>
						<td th:text="${content.site_name}"></td>
						<td th:text="${content.address}"></td>
						<td th:text="${content.start_date}"></td>
						<td id="sid" th:text="${content.site_id}" style="display : none"></td>
					</tr>

				</tbody>
			</table>
		</div>

		<div class="pagination-container">
			<nav class="pagination-content">
				<div class="pagination">
					<a class="pagination-newer">PREV</a> 
					
					<span class="pagination-inner" th:each="pageNum : ${pageNum}">
						 <a th:id="${pageNum}" th:text="${pageNum}"></a>
					</span> 
					
					<a class="pagination-older">NEXT</a>
				</div>
			</nav>
		</div>

		<div class="search">
			<div class="select">
				<select>
					<option value="title">현장이름</option>
					<option value ="address">주소</option>
				</select>
			</div>
			<section class="search-box">
				<div class="search-content">
					<input type="text" id="searchWord"/>
				</div>
				<div class="search-button">
					<button>Search</button>
				</div>
			</section>
		</div>
	</div>
</th:block>

<th:block layout:fragment="page_js">
	<script src="/resources/js/site/sitelist.js"></script>
</th:block>
</html>