<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>현장점검</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/site/sitelist.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</th:block>
     
<th:block layout:fragment="contents">
	<div id="container">
		<div id="main-content">
			<div class="title-header">
				<h1>현장목록</h1>
				<a href="/site/siteadd"><button id="add" value="add">현장추가</button></a>
			</div>
			<div class="main-left">
			<table class="table-fixed">
				<thead>
					<tr>
						<th scope="col" style="width:15%;">현재상태</th>
						<th scope="col" style="width:30%;">현장이름</th>
						<th scope="col" style="width:43%;">주소</th>
						<th scope="col" style="width:30%;">현장등록날짜</th>
					</tr>
				</thead>
				<tbody id="site" th:if="${site == null}">
					<tr th:each="content : ${content}">
						 <td th:switch="${content.site_status}">
							<img class="stat" src="/resources/img/gray2.png"  th:case="'0'">
							<img class="stat" src="/resources/img/green.png" th:case="'1'">
							<img class="stat" src="/resources/img/red.svg"   th:case="'2'">
						</td>
						<td th:text="${content.site_name}"></td>
						<td th:text="${content.address}"></td>
						<td th:text="${content.start_date}"></td>
						<td id="sid" th:text="${content.site_id}" style="display : none"></td>
					</tr>
				</tbody>
				
				<tbody id="site" th:if="${site != null}">
					<tr th:each="content : ${site}">
						 <td th:switch="${content.site_status}">
							<img class="stat" src="/resources/img/gray2.png"  th:case="'0'">
							<img class="stat" src="/resources/img/green.png" th:case="'1'">
							<img class="stat" src="/resources/img/red.svg"   th:case="'2'">
						</td>
						<td th:text="${content.site_name}"></td>
						<td th:text="${content.address}"></td>
						<td th:text="${content.start_date}"></td>
						<td id="sid" th:text="${content.site_id}" style="display : none"></td>
					</tr>
				</tbody>
			</table>
			</div>
			<div id="main-right">
		</div>
		</div>
		

		<div class="pagination-container">
			<nav class="pagination-content">
				<div class="pagination">
					<a class="firstpage"> << </a>
					<a class="pagination-newer"> < </a> 
					
					<span class="pagination-inner" th:each="pageNum : ${pageNum}">
						 <a th:id="${pageNum}" th:text="${pageNum}"></a>
					</span> 
					
					<a class="pagination-older"> > </a>
					<a class="lastpage"> >> </a>
					<span id="lastNum" th:text="${lastNum}" style=display:none></span>
				</div>
			</nav>
		</div>

		<div class="search">
			<div class="select">
				<select id="search-select" class="fas fa-angle-down">
					<option value="site_name">현장이름</option>
					<option value="address">주소</option>
				</select>
			</div>
			<section class="search-box">
				<div class="search-content">
					<input type="text" id="keyword"/>
				</div>
				<div class="search-button">
					<button id="search">Search</button>
				</div>
			</section>
		</div>
	</div>
</th:block>

<th:block layout:fragment="page_js">
	<script src="/resources/js/site/sitelist.js"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=151d4916fe6099f7a1877c5f4619dc4d&libraries=services,clusterer,drawing"></script>
	<script th:inline="javascript">
	////////////////////////////////처음 현장관리 페이지에 왔을때
	var firstaddr = $('#site').children().eq(0).children().eq(2).text();
	var firstname = $('#site').children().eq(0).children().eq(1).text();
	var snum = $('#site').children().eq(0).children().eq(4).text();
var mapContainer = document.getElementById('main-right'), // 지도를 표시할 div 
mapOption = {
    center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
    level: 3 // 지도의 확대 레벨
};  

//지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

//주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

//주소로 좌표를 검색합니다
geocoder.addressSearch(firstaddr, function(result, status) {

// 정상적으로 검색이 완료됐으면 
 if (status === kakao.maps.services.Status.OK) {
	
	 $.ajax({
			type : "POST",
			url : "/site/insen.do",
			data : snum,
			dataType : "json",
			success : function(data) {
		

    var coords = new daum.maps.LatLng(result[0].y, result[0].x);

    // 결과값으로 받은 위치를 마커로 표시합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: coords
    });
     
	 var temp = ''; 
	 
	 temp = '<div class="info" style="width:150px;text-align:left;padding:6px 0;">' + '<h4 style="text-align:center;">'+firstname +'</h4><hr color="black">'+
	 '<h5 style="text-align:center;">설치된 센서</h5>';
 	
	  for(var i = 0;  i < data.sensor.length; i++ ){
		  if(data.sensor[0] == 'f'){
			  temp = temp + '<li style="margin-left:20px;">없음</li>';
			  break;
		  }
		 temp = temp + '<li style="margin-left:20px;">'+data.sensor[i]+'</li>'
	 }
	
	temp = temp + '</ul></div>';
	
     // 인포윈도우로 장소에 대한 설명을 표시합니다
    var infowindow = new kakao.maps.InfoWindow({
    	content : temp
    });
     
    infowindow.open(map, marker); 

    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
    map.setCenter(coords);
} 
});    

	 }//success종료
	 });//ajax 종료


//////////////////////////////////////////////////////해당 현장위 올릴시
	 $("#site tr").mouseover(function(){
		 $("#main-right").empty();
		 	
		 var add = $(this).children().eq(2).text();
		 var sname = $(this).children().eq(1).text();
		 var snum = $(this).children().eq(4).text();
		 
	

var mapContainer = document.getElementById('main-right'), // 지도를 표시할 div 
mapOption = {
    center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
    level: 3 // 지도의 확대 레벨
};  

//지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

//주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

//주소로 좌표를 검색합니다
geocoder.addressSearch(add, function(result, status) {

// 정상적으로 검색이 완료됐으면 
 if (status === kakao.maps.services.Status.OK) {
	
	 $.ajax({
			type : "POST",
			url : "/site/insen.do",
			data : snum,
			dataType : "json",
			success : function(data) {
		

    var coords = new daum.maps.LatLng(result[0].y, result[0].x);

    // 결과값으로 받은 위치를 마커로 표시합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: coords
    });
     
	 var temp = ''; 
	 
	 temp = '<div class="info" style="width:150px;text-align:left;padding:6px 0;">' + '<h4 style="text-align:center;">'+sname +'</h4><hr color="black">'+
	 '<h5 style="text-align:center;">설치된 센서</h5>';
 	
	  for(var i = 0;  i < data.sensor.length; i++ ){
		  if(data.sensor[0] == 'f'){
			  temp = temp + '<li style="margin-left:20px;">없음</li>';
			  break;
		  }
		 temp = temp + '<li style="margin-left:20px;">'+data.sensor[i]+'</li>'
	 }
	
	temp = temp + '</ul></div>';
     // 인포윈도우로 장소에 대한 설명을 표시합니다
    var infowindow = new kakao.maps.InfoWindow({
    	content : temp
    });
     
    infowindow.open(map, marker); 

    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
    map.setCenter(coords);
} 
});    

	 }//success종료
	 });//ajax 종료
	 });
// 	 $("#site tr").mouseleave(function(){
// 		 $("#main-right").empty();
// 	 });
/*]]>*/
   </script>
</th:block>
</html>