<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
   <title>현장 알림 화면</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/site/sitemain.css">
   <link rel="stylesheet" type="text/css" href="/resources/css/site/sitealarm.css">
</th:block>

<th:block layout:fragment="contents">
<div id="sitemain" class="col-md-8">
	<div class="card">
	<div class="card-header">
				<div class="card-head-row">
					<div id="site" th:each="siteInfo : ${siteInfo}">
						<span class="sitestatus" th:each="siteStatus : ${siteStatus}" th:switch="${siteStatus.site_status}">
							<img alt="stop" src="/resources/img/gray2.png" th:case="'0'">
							<img alt="start" src="/resources/img/green.png" th:case="'1'">
							<img alt="error" src="/resources/img/red.svg" th:case="'2'">
						</span>
						
						<span id="sitename" class="addr" th:text="${siteInfo.site_name}"></span>
						<span id="start_date" th:text="|등록날짜: ${siteInfo.start_date}|"></span>

						<button id="modify" th:class="${siteInfo.site_id}">현장수정</button>
					</div>					
				</div>
				
				<div id="Btndiv" th:each="siteInfo : ${siteInfo}">
				<span id="sid" th:text="${siteInfo.site_id}" style="display: none"></span>
					<a href="/site/" th:attrappend="href=${siteInfo.site_id} + '/sitealarm'"><button id="alaram">알림</button></a>
					<a href="/site/" th:attrappend="href=${siteInfo.site_id} + '/siterepair/1'"><button id="repair">수리내역</button></a>
					<a href="/site/" th:attrappend="href=${siteInfo.site_id} + '/sensormanage/1'"><button id="sensormanage">센서관리</button></a>
					<!-- <button id="sitestatus">현장 비활성화</button> -->
					<span class="status" th:each="siteStatus : ${siteStatus}" th:switch="${siteStatus.site_status}">
						<img alt="stop" src="/resources/img/powerOn.svg" th:case="'0'">
						<img alt="start" src="/resources/img/power.svg" th:case="'1'">
					</span>
				</div>
			</div>
         
       	<div id="salarm-cont" class="card-body">
			<div id="alarmmain">
				<div id="memberdiv" class="card">
					<div id="membertable">
						<table id="member">
							<thead>
								<tr>
									<th>전화번호</th>
									<th>회사</th>
									<th>이름</th>
									<th><input type="checkbox" name="checkAll" checked></th>
								</tr>
							</thead>
							<tbody id="amember">
								<tr class="select" th:each="alarmMember : ${alarmMember}">
									<td th:text="${alarmMember.tel}"></td>
									<td th:text="${alarmMember.company}"></td>
									<td th:text="${alarmMember.name}"></td>
									<td style="display: none" th:text="${alarmMember.alarm_m_no}"></td>
									<td><input type="checkbox" name="selected" checked></td>
								</tr>
							</tbody>
						</table>
					</div>
					<img id="plus-btn" src="/resources/img/plus.svg" />
				</div>

				<div id="messagediv" class="card">
					<div id="phonetop">
						<div id="ptop1"></div>
						<div id="ptop2"></div>
					</div>
		
					<div id="message">
						<textarea name="textarea" id="textarea" maxlength="80"
							placeholder="문자내용" autofocus></textarea>
						<div id="mbutton">
							<span id="current">0</span> <span id="maximum">/ 80</span>
							<button id="send">전송</button>
						</div>
					</div>
		
					<div id="pbottom"></div>
				</div>

				<div id="mlist" class="card">
				<div id="mtable">
					<table id="smsdata">
						<thead id="sms-data-head">
							<tr>
								<th scope="col">날짜</th>
								<th scope="col">내용</th>
								<th scope="col">보낸이</th>
							</tr>
						</thead>
						<tbody id="sms-data">
							<tr th:each="alarm : ${alarm}">
								<td th:text="${alarm.alarm_time}"></td>
								<td th:text="${alarm.alarm_content}"></td>
								<td th:text="${alarm.send_user}"></td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
			</div>
		</div>   
            
            
   	  </div>
   </div>
</th:block>

<th:block layout:fragment="page_js">
   <script src="/resources/js/site/sitealarm.js"></script>
   <script>
	   $(document).on("click", "#sitename" , function(){
			 /*현장 아이디를 가지고와서 /1자리에 넣어야함 */
			 var sid = $("#sid").text();
			 
			 window.location.href = "/site/" + sid  ;
		});
   </script>
</th:block>
</html>