<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>현장 추가 화면</title>
	<meta charset="utf-8" />
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/site/siteadd.css">
</th:block>

<th:block layout:fragment="contents">
	 <h1>현장 추가</h1>
   
   
   <div id="add_scene">   
      
      <input type="radio" name="chk_scene" value="building" checked="checked">건물
      <input type="radio" name="chk_scene" value="mountain"  id = "radio_m">산
   </div>


   <div id="addcontent">

      <div id="addcontent_left">
         <p>현장이름:</p>
         <p>주소:</p>
         <p>상세주소:</p>
      </div>
      
      <div id="addcontent_right">
         <input type="text" id="autoname" name="scene_name" class="addcontent_right_input"><br>
         <input type="text" id="address" name="address_name"> <input type="submit" value="조회"  class="addcontent_right_button" ><br>
         <input type="text" id="detailaddress" name="detailadd_name"  class="addcontent_right_input"><br>
      </div>
   </div>   

   


   <h2>네트워크 설정</h2>
   
   <div id="addnetwork">

      <div id="addnetwork_left">



         <input type="radio" name="chk_net_raido" value="chk_net_radio">
         	<label>TCP 서버</label><br><br>

         <input type="radio" name="chk_net_raido" value="tcpserver_net_radio" >
         	<label>TCP 서버</label>
          <select>
            <option value="ipv4">Ipv4</option>
            <option value="ipv41">Ipv6</option>
         </select>
         <br><br>

         <input type="radio" name="chk_net_raido" value="tcpserver_net_radio" >
         	<label>UDP</label>

         
      </div>   

      <div id="addnetwork_right">
      
      	<div id="addnetwork_right1">
         <p>호스트아이디 주소:</p>
        
        <p>호스트포트 번호:</p>
       
         <p>유선포트 번호:</p>
       

         <!--<input type="submit" name="확인" style="float:right;" > -->

      </div>
      
      <div id ="addnetwork_right2">
      
      	<input type="text" name="hostadress" class="addnetwork_right_input"><br>
      	<input type="text" name="hostadress" class="addnetwork_right_input"><br>
      	  <input type="text" name="hostadress" class="addnetwork_right_input"><br>
      
      </div>
        

      </div>

   </div>

   <div id="submit">
      <button type="button">확인</button>

   </div>
	
</th:block>

<th:block layout:fragment="page_js" >

</th:block>
</html>