<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
   <title>수리내역</title>
</th:block>

<th:block layout:fragment="page_css">
   <link rel="stylesheet" type="text/css" href="/resources/css/site/schecklist.css">
</th:block>

<th:block layout:fragment="contents">
   <div id="scroll" class="card">
      <article>
         <div id="container" style="margin:0">
            <div id="main-content">
               <div class="title-header">
                  <button id="write" value="write">글쓰기</button>
               </div>

               <table>
                  <thead>
                     <tr>
                        <th scope="col">현장이름</th>
                        <th scope="col">제목</th>
                        <th scope="col">상태</th>
                        <th scope="col">글쓴이</th>
                        <th scope="col">날짜</th>
                     </tr>
                  </thead>
                  <tbody id="repairchecklist"  th:if="${repair == null}">
                     <tr th:each="checkboardlist : ${checkboardlist}">
                        <td th:text="${checkboardlist.site_name}">status</td>
                        <td th:text="${checkboardlist.title}">status</td>
                        <td th:text="${checkboardlist.board_status}">status</td>
                        <td th:text="${checkboardlist.name}">status</td>
                        <td th:text="${checkboardlist.reg_date}">status</td>
                        <td th:text="${checkboardlist.board_no}" style="display: none"></td>
                     </tr>
                  </tbody>
                  
                  <tbody id="repairchecklist"  th:if="${repair != null}">
                     <tr th:each="checkboardlist : ${repair}">
                        <td th:text="${checkboardlist.site_name}">status</td>
                        <td th:text="${checkboardlist.title}">status</td>
                        <td th:text="${checkboardlist.board_status}">status</td>
                        <td th:text="${checkboardlist.name}">status</td>
                        <td th:text="${checkboardlist.reg_date}">status</td>
                        <td th:text="${checkboardlist.board_no}" style="display: none"></td>
                     </tr>
                  </tbody>
               </table>
            </div>

            <div class="pagination-container">
               <nav class="pagination-content">
                  <div class="pagination">
                     <a class="firstpage"> << </a>
                     <a class="pagination-newer"> < </a> 
               
                     <span class="pagination-inner" th:each="pageNum : ${pageNum}">
                         <a th:id="${pageNum}" th:text="${pageNum}"></a>
                     </span> 
               
               <a class="pagination-older"> > </a>
               <a class="lastpage"> >> </a>
               <span id="lastNum" th:text="${lastNum}" style=display:none></span>
               
                  </div>
               </nav>
            </div>

            <div class="search">
               <div class="select">
                  <select id="search-select">
                     <option value="title">제목</option>
                     <option value="name">글쓴이</option>
                  </select>
               </div>
               <section class="search-box">
                  <div class="search-content">
                     <input type="text" id="keyword"/>
                  </div>
                  <div class="search-button">
                     <button id="search">Search</button>
                  </div>
               </section>
            </div>
         </div>
      </article>
   </div>
</th:block>

<th:block layout:fragment="page_js">
   <script src="/resources/js/site/siterepair.js"></script>
</th:block>
</html>