<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>하나의 현장을 눌렀을 때</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/site/asidebar.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/site/sitemain.css">
</th:block>

<th:block layout:fragment="contents">

	<aside class="aside" th:each="siteInfo : ${siteInfo}">
	
		<a> <svg version="1.1" id="nav-btn"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 512 512" enable-background="new 0 0 512 512"
				xml:space="preserve">
    <path id="list-view-icon"
					d="M462,108.857H50V50h412V108.857z M462,167.714H50v58.857h412V167.714z M462,285.429H50v58.857h412
      V285.429z M462,403.143H50V462h412V403.143z" />
  </svg>
		</a>
			<h1 th:text="${siteInfo.site_name}"></h1>
			<span id="sid" th:text="${siteInfo.site_id}" style="display:none"></span>
		<nav id="nav">
			<ul>
				<li><a href="/site/" th:attrappend="href=${siteInfo.site_id} + '/sitealarm'">알림</a></li>
				<li><a href="/site/" th:attrappend="href=${siteInfo.site_id} + '/siterepair'" >수리내역</a></li>
				<li><a href="/site/" th:attrappend="href=${siteInfo.site_id} + '/sensoradd'">센서추가</a></li>
				<li style="line-height: 40px;"><a href="/site/" th:attrappend="href=${siteInfo.site_id} + '/download'">스크립트 다운로드</a></li>
				
				<li><span id="num">연락망</span> 
					<span id="down" style="display: inline"> 
				  		<img src="/resources/img/down-arrow.svg">
					</span> 
					<span id="up" style="display: none"> 
						<img src="/resources/img/up-arrow.svg">
					</span>
				</li>
				
			<div class="phonenumber" style="display: none" th:each="alarmMember : ${alarmMember}">
				<span class="mang" th:text="${alarmMember.name}"></span>
				<span class="mang" th:text="${alarmMember.tel}"></span>
			</div>	
			</ul>
		</nav>
	</aside>

	<div id="scroll" th:each="siteInfo : ${siteInfo}" >
		<article>
	
			<h2 th:text="${siteInfo.site_name}" style="display: inline-block"></h2>
			
			<span class="addr" th:text="${siteInfo.address}" ></span>
			<div id="chartdiv"></div>

			<div id="dataDiv">
				<div id="main-content">
					<table>
						<thead>
							<tr>
								<th scope="col">data</th>
								<th scope="col">data</th>
								<th scope="col">data</th>
								<th scope="col">data</th>
							</tr>
						</thead>
						<tbody>
						<!-- 	<tr th:each="sitelist : ${sitelist}">
								<td th:text="${sitelist.site_status}">status</td>
								<td th:text="${sitelist.site_name}">status</td>
								<td th:text="${sitelist.address}">status</td>
								<td th:text="${sitelist.start_date}">status</td>
							</tr> -->

						</tbody>
					</table>
				</div>
			</div>

			<div id="map"></div>

		</article>
	</div>
	
</th:block>

<th:block layout:fragment="page_js">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=151d4916fe6099f7a1877c5f4619dc4d&libraries=services,clusterer,drawing"></script>
	<script src="/resources/js/core.js"></script>
	<script src="/resources/js/charts.js"></script>
	<script src="/resources/js/animated.js"></script>
	<script src="/resources/js/charttest.js"></script>
	
	 <script th:inline="javascript">
	 /*<![CDATA[*/
   	var arr = new Array();
    
   
    
   	arr = [[${siteInfo}]];
    var site = arr[0].address;
    //var site = '대구 북구 복현로 35';


var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
mapOption = {
    center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
    level: 3 // 지도의 확대 레벨
};  

//지도를 생성합니다    
var map = new daum.maps.Map(mapContainer, mapOption); 

//주소-좌표 변환 객체를 생성합니다
var geocoder = new daum.maps.services.Geocoder();

//주소로 좌표를 검색합니다
geocoder.addressSearch(site, function(result, status) {

// 정상적으로 검색이 완료됐으면 
 if (status === daum.maps.services.Status.OK) {

    var coords = new daum.maps.LatLng(result[0].y, result[0].x);

    // 결과값으로 받은 위치를 마커로 표시합니다
    var marker = new daum.maps.Marker({
        map: map,
        position: coords
    });

/*     // 인포윈도우로 장소에 대한 설명을 표시합니다
    var infowindow = new daum.maps.InfoWindow({
        
    });
    infowindow.open(map, marker); */

    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
    map.setCenter(coords);
} 
});    
/*]]>*/
	</script>
	<script src="/resources/js/site/asidebar.js"></script>
</th:block>
</html>