<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>현장 추가 화면</title>
	<meta charset="utf-8" />
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/site/siteadd.css">
</th:block>

<th:block layout:fragment="contents">
 
	 <div id="container" class="card">
	<h1>현장 추가</h1>
	
   
   <div id="addcontent">
   
   <div id="add_scene">   
      <input type="radio" name="chk_scene" value="building" checked="checked">건물
      <input type="radio" name="chk_scene" value="mountain"  id = "radio_m">산
   </div>

   <div id="addcontent_right">
      <!-- <input type="text" id="sample6_postcode" class="addcontent_right_input" placeholder="우편번호" > -->
      <span id="p">주소:</span>
	  <input type="text" id="sample6_address" placeholder="주소" class="addcontent_right_input" disabled><br>
	  <input type="hidden" id="x" >
	  <input type="hidden" id="y" >
	  <input type="button" id="addressBtn" onclick="DaumPostcode()" value="조회" class="addcontent_right_button" >
	  
	  <span id="p2">회사이름:</span>
	  <input type="text" id="Cname" placeholder="회사 이름" class="addcontent_right_input" disabled><br>
	  <input type="button" id="pBtn" value="선택" class="addCompany_right_button">
	  
	  <span id="p3">현장이름:</span>
	  <input type="text" id="sample6_detailAddress" placeholder="현장이름" class="addcontent_right_input" maxlength="33">
	  <!-- <input type="text" id="sample6_extraAddress" placeholder="참고항목" class="addcontent_right_input"> -->
      </div>
   

   

<div id="addnetwork1">
   <h2>네트워크 설정</h2>
   
   <div id="addnetwork">

<!--       <div id="addnetwork_left">



         <input type="radio" name="chk_net_raido" value="chk_net_radio">
         	<label>TCP 클라이언트</label><br><br>

         <input type="radio" name="chk_net_raido" value="tcpserver_net_radio" >
         	<label>TCP 서버</label>
          <select>
            <option value="ipv4">Ipv4</option>
            <option value="ipv41">Ipv6</option>
         </select>
         <br><br>

         <input type="radio" name="chk_net_raido" value="tcpserver_net_radio" >
         	<label>UDP</label>

         
      </div>  -->  

      <div id="addnetwork_right">
      
      	<div id="addnetwork_right1">
         <p>수신 주기:</p>
        
        <p>통신 속도:</p>
       
         <p>가상시리얼 포트 번호:</p>
       

         <!--<input type="submit" name="확인" style="float:right;" > -->

      </div>
      </div>
      </div>
      </div>
      <div id ="addnetwork_right2">

	    <input type="text" name="hostaddress" placeholder = "초 단위로 적어주세요" class="addnetwork_right_input" id="rperiod" maxlength="20"><br>      	
      	
      	<select required name="hostaddress" class="addnetwork_right_input" id="sig_port_num">
      		<option value="" disabled selected >Baudrate를 선택해 주세요</option>
      		<option>1200</option>
      		<option>2400</option>
      		<option>4800</option>
      		<option>9600</option>
      		<option>14400</option>
      		<option>19200</option>
      		<option>28800</option>
      		<option>38400</option>
      		<option>57600</option>
      		<option>115200</option>
      	</select>
      	
      	<select required name="hostaddress" class="addnetwork_right_input" id="virtualport">
      		<option value="" disabled selected >미리 설정 후 적어주세요</option>
      		<option value="10">com10</option>
      		<option value="11">com11</option>
      		<option value="12">com12</option>
      		<option value="13">com13</option>
      		<option value="14">com14</option>
      		<option value="15">com15</option>
      		<option value="16">com16</option>
      		<option value="17">com17</option>
      		<option value="18">com18</option>
      		<option value="19">com19</option>
      		<option value="20">com20</option>
      	</select>

<!--       	<input type="text" name="hostaddress" placeholder = "Baudrate를 적어주세요"class="addnetwork_right_input" id="sig_port_num"><br> -->
<!--       	<input type="text" name="hostaddress" placeholder = "미리 설정 후 적어주세요" class="addnetwork_right_input" id="virtualport"><br> -->
      
      </div>
        

      </div>

   </div>
   
   <div class="card" id="sensordiv">
   	  <h2 id="sensor_option">센서 설정</h2>
   		<div class="sensorset">
	   <div id="setbtn">
	   		<input type="button" class="plus_select" value="행 추가" />
	   		<input type="button" class="delete_select" value="행 삭제" />
	   </div>     
   
	<div class="sensor_box">
		<div id="addSensor0" style="margin-bottom:3px">
			<select required class="my_sensor">
				<option value="" disabled selected >센서를 선택하세요</option>
             	<option th:each="ss : ${siteSensor}" th:text=" ${ss.sensor_sn} + '[' + ${ss.sensor_kind} + ']'" th:value="${ss.vertical}">
            	</option>
			</select>
			<button type="button" value="삭제" id="cancle" class="cancleBtn">삭제</button>
		</div>
	</div>  
   </div>
   </div>
 
   
   <div id="btn">
      <button type="button" id="plus">확인</button>
   </div>

   
</th:block>

<th:block layout:fragment="page_js">
<!-- <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script> -->
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
<script src='https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js'></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=151d4916fe6099f7a1877c5f4619dc4d&libraries=services"></script>
<script>
    function DaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                /* var extraAddr = ''; // 참고항목 변수 */

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                /* // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                } */

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                /* document.getElementById('sample6_postcode').value = data.zonecode; */
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
                

             // 주소-좌표 변환 객체를 생성합니다
             var geocoder = new daum.maps.services.Geocoder();

             // 주소로 좌표를 검색합니다
             geocoder.addressSearch(addr, function(result, status) {

                 // 정상적으로 검색이 완료됐으면 
                  if (status === daum.maps.services.Status.OK) {

                     var coords = new daum.maps.LatLng(result[0].y, result[0].x);
                     document.getElementById("x").value = result[0].x;
                     document.getElementById("y").value = result[0].y;
                   
                 } 
             });    
                
                
                
            }
        }).open();
        
    } 
    
    $('.addCompany_right_button').click(function(){
    	
    	var openWin = window.open("/site/findCompany/", "pop",
				 "width=500,height=480,top="+(screen.availHeight/2-350)+",left="+(screen.availWidth/2-300)+"resizable=yes");
    });
</script>
<script>
$(document).ready(function(){
	
	var count = 0;
	
	$('.delete_select').click(function(){
		 if(count == 0)
			 return false;
		 $("#addSensor" + count).remove();
		
// 		for(var i=1; i < count+1; i++){
// 		 $("#addSensor" + i).remove();
// 		}
		 count--;
	});
	
	$('.cancleBtn').click(function(){
		$(this).parent().remove();
	});
	
	$('.plus_select').click(function(){
		count++;		
		
		var html = $('#addSensor0').clone(true);
		html.attr("id","addSensor" + count);
		
		$(".sensor_box").append(html);
		$('#addSensor' + count).children().siblings().remove('input');
	});
	
	//select 의 값이 바뀌면 ? 
	$('.my_sensor').on("change", function(){
		
		var divId = $(this).parent().attr("id"); //선택한 selece 박스 위에 div id 값
		var lastChar = divId.substr(divId.length - 1) // count로 넣을 div id 마지막에 있는 숫자
		
		count = lastChar;
		
		var aa = $(this);
		var input_size = aa.val();
		
		var asdf = $('#addSensor' + count).children().siblings();
		asdf.not('select').remove();
	
		
		for(var i=0; i < input_size; i++ ) {
			
			$("#addSensor" + count).append( 
					$('<br><input type="text" class="vert'+i+'" id="cvert'+i+'" placeholder = "데이터 로거의 변수값과 똑같은 값을 적어주십시오." >', 
// 							{ type: 'text', val: $('#div1').text() }
							{ type: 'text'}
					),
					$('<input type="text" class="up'+i+'" id="cup'+i+'"placeholder = "상한값" style="width:20%">', 
// 							{ type: 'text', val: $('#div1').text() }
							{ type: 'text'}
					),
					$('<input type="text" class="down'+i+'" id="cdown'+i+'"placeholder = "하한값" style="width:20%">', 
// 							{ type: 'text', val: $('#div1').text() }
							{ type: 'text'}
					)
				)
		} // for문 종료
		
		
		
	});
	


	$("#plus").click(function(){
	
		var check = $('.sensor_box').children().length;

		
		var totalInfo = new Object();    
		for(var i=0; i < check; i++){
			var jarray = new Array();
			
			
			var aa = $('#addSensor'+i);
			var bb = aa.find('.my_sensor option:selected').text();
			var bbSplit = bb.split('[');
			
			//jobj 생성
			for( var j=0; j < aa.find('input').length/3; j++) {
				var jobj = new Object();
				
				var cc = aa.find('input.vert'+j).val(); //tilt 같은 이름
				var dd = aa.find('input.up'+j).val(); //상한값
				var ee = aa.find('input.down'+j).val(); //하한값
	
				
				jobj[cc] = dd + "," + ee; 
				jarray.push(jobj);
				
			}
			totalInfo[bbSplit[0]]= jarray ;
// 			console.log(aa.find('input').eq(0).val());

			
		}
		
		 if(sample6_address.value.trim() == ""){
	            alert("주소를 조회하여 선택해주세요.");
	            sample6_address.val('');
	            sample6_address.focus();
	            return false;
	        }else if(Cname.value.trim()==""){
	            alert("회사를 조회하여 선택해주세요.");
	            Cname.val('');
	            Cname.focus();
	            return false;
	        }else if(sample6_detailAddress.value.trim()==""){
	            alert("현장 이름을 입력해주세요.");
	            sample6_defailAddress.val('');
	            sample6_defailAddress.focus();
	            return false;
	        }else if(rperiod.value.trim()==""){
	            alert("수신주기를 입력해주세요.");
	            rperiod.val('');
	            rperiod.focus();
	            return false;
	        }else if($("#sig_port_num > option:selected").val() == ""){
	        	alert("통신속도를 선택하세요.")
	        	return false;
	        }else if($("#virtualport > option:selected").val() == ""){
	        	alert("가상시리얼 포트번호를 선택하세요.")
	        	return false;
	        }else if($(".my_sensor > option:selected").val() == ""){
	        	alert("센서를 선택하세요.")
	        	return false;
	        }else if(cvert0.value.trim()==""){
	            alert("데이터 로거의 변수명을 입력해주세요.");
	            return false;
	        }else if(cup0.value.trim()==""){
	            alert("상한값을 입력해주세요.");
	            return false;
	        }else if(cdown0.value.trim()==""){
	            alert("하한값을 입력해주세요.");
	            return false;
	        }
	

        var stringJson = JSON.stringify(totalInfo);

	
	 	
		var query = { 
						//현장 데이터
						type_no : $('input[name="chk_scene"]:checked').val(),
						address : $("#sample6_address").val(),
						site_name : $("#sample6_detailAddress").val(),
						name : $("#Cname").val(),
						x : Number($("#x").val()),
						y : Number($("#y").val()),
	
						//네트워크 데이터
						rperiod : $("#rperiod").val(),
// 						sig_port_num : $("#sig_port_num").val(),
// 						virtual_port : $("#virtualport").val(),
						sig_port_num : $("#sig_port_num option:selected").val(),
						virtual_port : $("#virtualport option:selected").val(),
						sensorData : totalInfo
					}
		
		
		

		
		 $.ajax({
			  type : "POST",
			  url : "/site/siteadd.do",
			  data : JSON.stringify(query),
			  contentType: 'application/json;',
			  success : function(data){
				  if( data == "success"){
					  alert("추가되었습니다");
					  window.location.href = "/sitelist/1"
				  } else{
					  alert("추가에 실패했습니다");
				  }
			  }
			  
		}); // ajax 종료 
		
	}); // #plus 종료
	
});
</script>
</th:block>

</html>