

.header{
    width: 98%;
    margin: 0 auto;
}

.header a {
    display: inline-block;
}

.header svg {
    width: 30px;
}

.header h1 {
    display: inline-block;
    
}



#checkcontent{
    width: 100%;
    border: 1px solid black;
    height: 520px;
    margin: 0 auto;
    border-radius: 4px;
    box-sizing: border-box;
    /* margin-top: 5px; */
    
  }


#checkcontent1 {
    width: 100%;
    height: 12%;
    border: 1px solid black;
}

#checkcontent2 {
    width: 80%;
    height: 8%;
    /* border: 1px solid black; */
    margin: 0 auto;
}

#checkcontent3 {
    width: 100%;
    height: 40%;
    resize: none;
   
}

#title {
    width: 75%;
    height: 75%;
    padding: 5px 10px;
    margin-left: 8px;
    /* margin-top: 10px;
    margin-bottom: 3px; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    bottom : 20%;
}

#status {
    margin-left: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    /* margin-top: 10px;
    margin-bottom: 0; */
    position: relative;
    bottom : 40%;
}

#regdate {
    display: inline-block;
    /* margin-left: 4px; */
    /* float: right; */
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 0;
}


#content {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    margin-bottom: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    margin-top: 2px;
    
}

#cameraGetPicture,#cameraTakePicture {
    display: inline-block;
    background: white;
    border: 0;
    outline-style: solid;
    width: 30px;
    height: 50px;
    padding: 0;
    margin-left: 5px;

}

#bottom {
    
    width: 100%;
    margin: 0 auto;
}
      


#modifybutton {
    margin-top: 15px;
    width: 47%;
    height: 60px;
    margin-left: 5px;
    display: inline-block;
}

#deletebutton {
    margin-top: 15px;
    width: 47%;
    height: 60px;
    margin-left: 5px;
    display: inline-block;
}

.uploadResult {
    width: 100%;
    background-color:rgba(0, 0, 0, 0.45);
    height: 39%;
    border: 1px solid #ccc;
}

.uploadResult ul{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    

}

.uploadResult ul li {
    width: 120px;
    list-style: none;
}

.uploadResult ul li img {

    width:80%;
    height: 100%;
}



.bigPictureWrapper {
    position : absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top:0%;
    width:100%;
    height: 100%;
    z-index: 100;
    background:rgba(red, green, blue, alpha);

}

.bigPicture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bigPicture img {
    width: 250px;

}