@font-face {
  font-family: a신그래픽L;
  src: url('/font/a신그래픽L.TTF');
}

html, body{font-family: 'a신그래픽L';}
.ui-grid-c li a::after {
  display:none;
  background-color: #F4F6FD;  
}

.ui-btn-icon-top {
  padding:.6em 1em;
}

table {
    border: 1px solid ;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: white;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    text-align: center;
  }
  
  table th {
    font-size: .60em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  table td{
     font-size:.90em;
  }
  #content {
    background:#F6F8FD; 
  }

  #aa {
    width:100px;
    height:50px;
    margin-left:37%;
    margin-top:4%;
  }

  #aaa td{
    height:35px;
  }

  #status {
    width:25px;
  }

  img {
    width:15px;
    margin:3px 3px 3px 5px;

  }

  #header {
    background:white; 
  }

  .sitelist {
    width: 94%;
    height: 60px;
    padding: 10px;
    margin: 20px;
    margin-left:-0%;
    border: 1px solid #bcbcbc;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.03) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.03) inset;
         box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.03) inset;
    background-color:white;
    
  }

  .sitelist h3 {
    margin: 0;

    float:left;
  }
  

  .sitelist h5 {
    float: right;
    color: #524f4f;
    margin-top: -30px;
  }
  #mylocation,.line-b{
    display: inline-block;
    vertical-align: middle;
  }

  