@font-face {
  font-family: a이끌림M;
  src: url('/font/a이끌림M.TTF');
}

html, body{font-family: 'a이끌림M';}

table {
    border: 1px solid ;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: white;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    text-align: center;
  }
  
  table th {
    font-size: .60em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  table td{
     font-size:.90em;
  }
  #content {
    background:#F6F8FD; 
  }

  #aa {
    width:100px;
    height:50px;
    margin-left:37%;
    margin-top:4%;
  }

  img {
    width:12px;
  }

  #header {
    background:#F6F8FD; 
  }