<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>




<th:block layout:fragment="page_head">
	<title>타임라인</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/timeline/timeline.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/timeline/timeline2.css">
</th:block>



<th:block layout:fragment="contents">
	<div id="container">
		<div id="header">
			<h1>타임라인</h1>
			
			
			<hr size="2" noshade>
		</div>
	
		<div id="content">
			<div id="text">
				
				<textarea  name="textarea" id="textarea" maxlength="100" autofocus >
					
				</textarea>
				<input type="button" value="수정" class="modifycheck" />
				<div id="the_count">
					<span id="current">0</span> <span id="maximum">/ 100</span>
					<script src="/resources/js/timeline/timeline.js"></script>
				</div>
			</div>
 

			</div>
			
			</div>
		<div id="footer">
	</div>
</th:block>
<th:block layout:fragment="page_js">
<script>
function GetURLParameter(sParam) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');

    for (var i = 0; i < sURLVariables.length; i++){
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) {
            return sParameterName[1];
        }
    }
}
var getContent= GetURLParameter('content');
$('#textarea').val(getContent);


</script>
	<script src="/resources/js/timeline/timeline.js"></script>
<script>
	$(".modifycheck").on('click',function(){
		var textarea  = $("#textarea").val();
		var query = {
			content:$("#textarea").val()
			};
		
		$.ajax({
			  type : "POST",
			  url : "/timeline/timelinemodify.do",
			  data : query,
			  success : function(data){
				  if( data == "success"){
					  alert("ㅇㅇ");
					window.location.href = "timeline";
					 
				  } else{
					alert("ㄴㄴ");
				
				  }
			  }
		
		}); 
});
</script>


						
</th:block>
</html>