<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<th:block layout:fragment="page_head">
	<title>점검이력</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/timeline/timeline.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/timeline/timeline2.css">
</th:block>



<th:block layout:fragment="contents">
	<div id="container">
		<div id="header">
			<h1>타임라인</h1>
			<hr size="2" noshade>
		</div>
		
		<div id="content">
			<div id="text">
				<textarea name="textarea" id="textarea" maxlength="100" autofocus></textarea>
				<input type="button" value="등록" id="submit" />
				<div id="the_count">
					<span id="current">0</span> <span id="maximum">/ 100</span>
					<!-- <script src="/resources/js/timeline/timeline.js"></script> -->
				</div>
			</div>

			<div id="writing">
			<div class="timeline" th:each="timelinelist : ${timelinelist}">
            <div class="timeline-header">
                <h3 th:text="${timelinelist.name}"></h3>
                <h5 th:text="${timelinelist.time}"></h5>             
          
            <button type="button" class="modify" th:if="${timelinelist.user_id}==${session.id}">수정</button>
             <button type="button" class="delete" th:if="${timelinelist.user_id}==${session.id}">삭제</button>
        
            
            </div>
            <p th:text="${timelinelist.content}">content</p>
          </div>
      </div>
			</div>
			</div>
		<div id="footer">
	</div>
</th:block>
<th:block layout:fragment="page_js">
	<!-- <script src="/resources/js/check/checklist.js"></script> -->
	<script src="/resources/js/timeline/timeline.js"></script>
	<script>
$(".delete").on('click',function(){
		
		if(confirm("정말 삭제하시겠습니까?") == true) {
			
		} else {
			return;
		}

			if(true){
			var content = $(this).parent();
			var content2 = content.siblings().first();
			var content3 = content2.text(); 

			var query = {
					content : content3
			}
			
			$.ajax({
				  type : "POST",
				  url : "/timeline/timelinedelete.do",
				  data : query,
				  success : function(data){
					  if( data == "success"){
						  alert("삭제되었습니다");
						  location.reload();
					  } else{
						  alert("삭제에 실패했습니다");
					  }
				  }
				  
			}); // ajax 종료
				/*}*/
}
	});
	</script>
</th:block>
</html>