<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/resources/css/timeline/timeline.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="container">
      <div id="header">
            <h1>타임라인</h1>
            <hr size="2" noshade> 
      </div>
      <div id="content">
            <textarea name="textarea" id="textarea" 
              maxlength="300" autofocus></textarea>
              <button id="submit">등록</button>
        <div id="writing">
        </div>
    </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>