@font-face {
  font-family: A신그래픽L;
  src: url('/resources/font/A신그래픽L.TTF');
}

body {
   font-family: 'A신그래픽L';
  overflow-x: hidden;
}



#alarmmain {
    width: 100%;
    height: 700px;
}

#memberdiv {
    float: left;
    margin: 2%;
    width: 30%;
    height: 650px;
    position: relative;
}

#membertable {
	width: 100%;
    height: 550px;
    overflow: auto;
	overflow-x: hidden;	
}

#membertable table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

#membertable table thead tr {
	/* position: absolute;
	top: 0; */
	color: #000;
    background-color: #dbe2fc;
}

#membertable table thead tr th {
	font-weight: normal;
	width: 100%;
	height: 40px;
	background: #2196f3;
	color:#fff;
	text-align: center;
}

#membertable table td {
	text-align: center;
	width: 100%;
	height: 40px;
}

#membertable table tr {
	display: inline-table;
	width: 100%;
	table-layout: fixed;
}

#membertable table tr td {
	border-top: 1px solid #f6f8fd;
	background-color: #f6f8fd;
}

#membertable table tr.even td {
	background: #eef3f8;
}

#memberdiv img {
    width: 50px;
    height: 50px;
    margin-top: 5%;
    margin-left: 42%;
    cursor: pointer;
}

#messagediv {
    border: 1px solid blue;
    float: left;
    margin: 2%;
    width: 25%;
    height: 600px;
    border-radius: 20px;
}

input[type="tel"], input[type="text"] {
	width: 105px;
}

input[type="button"] {  
    border: 1px solid #dddfe6;
    background-color: #FFF;
    width: 40px;
    height: 30px; 
    cursor: pointer;
}

input[type="button"]:hover {  
    border: 1px solid #4e73df;
    cursor: pointer;
}

#phonetop {
    height: 60px;
}

#ptop1 {
    border: 1px solid black;
    background-color: #fff;
    width: 150px;
    height: 20px;
    border-radius: 20px;
    margin: 20px 29%;
    margin-right: 10px;
    display: inline-block;
}

#ptop2 {
    border: 1px solid black;
    background-color: #fff;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    display: inline-block;
}

#message {
    width: 100%;
}

#message textarea {
    width: 90%;
    height: 380px;
    margin-left: 5%;
    font-size: 1.3em;
}

#mbutton span {
	font-size: 1.2em;
}

#current {
    margin-left: 6%;
}

#message button {
    float: right;
    margin-right: 5%;   
    border: 1px solid #dddfe6;
    background-color: #FFF;
    width: 50px;
    height: 25px;
    cursor: pointer;
    font-size: 1.2em;
}

#message button:hover {
	border: 1px solid #4e73df;
    cursor: pointer;
}

#pbottom {
    border: 1px solid black;
    background-color: #fff;
    width: 100px;
    height: 30px;
    margin: 40px auto;
    border-radius: 20px;
}

#mlist {
    float: right;
    margin: 2%;
    width: 30%;
    height: 600px;
    position: relative;
}

/* #sidebar2 .scroll-table2 {
	max-height: 150px;
	overflow: auto;
	overflow-x: hidden;
} */

#mtable {
	width: 100%;
    height: 550px;
    overflow: auto;
	overflow-x: hidden;	
}

#mtable table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

#mtable table thead tr {
/* 	position: absolute;
	top: 0; */
	width: 438px;
	color: #000;
    background-color: #dbe2fc;
}

#mtable table thead tr th {
	font-weight: normal;
	width: 100%;
	height: 40px;
	background: #2196f3;
    color:#fff;
    text-align: center;
}

#mtable table td {
	text-align: center;
	width: 100%;
	height: 40px;
    color:#595959;
}

#mtable table tr {
	display: inline-table;
	width: 100%;
	table-layout: fixed;
}

#mtable table tbody tr {
   display: table-row;
   background-color:#f6f8fd;
}
#amember .line td{
    background: #e0ecf8;
}

/* #membertable .line { */
/*     background: #e0ecf8; */
/* } */
