@charset "UTF-8";

h1{
      text-align: center;
      padding-top:35px; 
   }

   h2 {
      
      padding: 20px;
      margin-bottom: 10px;
      margin-left: 8%
   }
   
   p {
   	margin-top : 20px;
   }
   
   #radio_m {
   		margin-left : 60px;
   }

   #add_scene {
      
      
      width: 100%;
      padding: 20px;
      margin-bottom: 10px;
      margin-left: 8%
   }
   
   body {
   	font-size :1.3em;
   }


   #addcontent {
      margin :0 auto;
      width: 1200px;
      heigh :200px;
      margin-bottom: 20px;
      border: 1px solid #bcbcbc;

   }

   #addcontent_left {
      width: 30%;
      
      margin-left: 10%;
      
      box-sizing: border-box;
      display: inline-block;
   }

   #addcontent_right {
      width: 45%;
      
      box-sizing: border-box;
      
      display: inline-block;

   }



   #addnetwork {
	margin :0 auto;
      width: 1200px;
      margin-bottom: 20px;
      border: 1px solid #bcbcbc;
      
   }    

   #addnetwork_left {
     margin-top:30px;
      margin-left: 10%;
      margin-bottom: 60px;
      box-sizing: border-box;
      display: inline-block
   }


   #addnetwork_right {
      
      margin: 0  auto;
      margin-left: 13%;
      box-sizing: border-box;
      
      display: inline-block;
   }
   
   #addnetwork_right1 {
   display: inline-block;
    box-sizing: border-box;
   }
   
   #addnetwork_right2 {
   display: inline-block;
    box-sizing: border-box;
    margin-left: 20px;
   }
   
   

   #submit {
      
      
      margin: auto;

      text-align: center;
      width: 50%;
      

   }
   
   .addcontent_right_button {
   		width :45px;
   		height:33px;
   		margin-top:20px;
   }
   

   input[type=text]:focus {
      border: 3px solid #555;
   }
   
  
   
   input.addnetwork_right_input {
   		width : 200px;
   }
   
   
   

   input[type=text] {
      
      width: 400px;
      padding: 8px 20px;
      margin-top: 20px;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
      
      
   }

   button {
      background-color: white;
      color: black;
      border: 2px solid #555555;
      font-size: 25px;
   }

   button:hover {
      background-color: #555555;
      color: white;
   }