#sensor {
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#chartDiv{
	height : 370px;
	border : 1px solid black;
	overflow : auto;
}

#dataDiv{
	margin-top : 20px;
	height : 380px;
	border : 1px solid black;
}

#mapDiv{
	margin-top : 50px;
	height : 380px;
	border : 1px solid black;
}
