/* #scroll{
   margin-top: 2em;
} */
@font-face {
  font-family: A신그래픽L;
  src: url('/resources/font/A신그래픽L.TTF');
}

body {
   font-family: 'A신그래픽L';
}

p{
   text-align: center;
   font-size: 1.5em;
   color: #000;
}

#sensor {
   padding: 5px;
   margin-left: 10px;
   margin-bottom: 20px;
}

#chartdiv {
  width: 100%;
  height: 500px;
}

#dataDiv {
    margin: 20px 0; 
    overflow: auto; 
   position: relative;
    width: 1150px;
    height: 260px;
   padding-top: 50px;
    border: 1px solid black;
}

#dataDiv #main-content {
    max-height: 258px;
    overflow: auto;
    overflow-x: hidden;
}
#dataDiv #main-content table{
     width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}
#dataDiv #main-content table thead tr {
    position: absolute;
    top: 0;
    color: #2E2E2E;
    background-color: #eaecf4;
}
#dataDiv #main-content table thead tr th {
   font-weight: normal;
    width: 100px;
    height: 40px;
    background:darksalmon;
    color:#fff;
}
#dataDiv #main-content table td {
    text-align: center;
    height: 50px;
    border-top: 1px solid #ccc;
}
#dataDiv #main-content table tr {
     display: inline-table;
    width: 100%;
    table-layout: fixed;
}

#dataDiv #main-content table tbody tr {
   display: table-row;
   background-color:#f6f8fd;
}

.map {
   position: relative;
}

#map{
   width:70%;
   height:400px;
   margin: 0 auto;
   /* border-top: 1px solid black;
   border-left: 1px solid black;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
   border-right: 1px solid black;
   border-radius: 5px; */
}

#m-detail {
   width:70%;
   height: 90px; 
   margin: 0 auto; 
   /* border-bottom: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-radius: 5px; */
}

#m-title {
   font-size: 1.2em;
   color: black;
   margin-left: 2%;
}

#m-addr {
   margin-left: 2%;
}
 

 h2 {
   position: relative;
   margin: 0;
}

h3 {
   margin-top: 2%;
   font-size: 1.5em;
   position: relative;
   top: 30px;
}

.addr {
   font-size: 1.7em;
   font-weight: bold;
   color : black;
   margin-right: 0.4em;
}

#start_date {
   float: left;
   font-size: 1.1em;
}



 #scroll button {
    float: right;
    margin-top: -30px;
    width: 13%;
   height: 50px;
    font-size: 1.3em;
    cursor:pointer;
      border: none;
     border-bottom: 2px solid #3796ca; 
     background-color: #5fc5ee;
     color: #fff;
     padding: 5px 8px;
     position: relative;
     bottom: 10px;
   } 


 @media ( max-width: 1001px ) {
    #dataDiv {
      width: auto;
    }
    #main-content {
      float: none;
      width: auto;
    }
    #scroll button {
      width: 15%;
   }
   #map {
      width: 75%;
      margin-left: 20%;
   }
   #m-detail {
   margin-left: 22%;
}

@media screen and (max-width: 700px) {
   table {
      border: 0;
   }
   table caption {
      font-size: 1.3em;
   }
   table thead {
      border: none;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
   }
   table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
   }
   table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
   }
   
   
   
}

@media screen and (max-width: 360px) {

.addr {
    font-size: 1.5em;
}

#addr {
   margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'A신그래픽L';
   top:50px;
}

h2 {
   position: relative;
   margin: 0;
}

h3 {
    font-size: 1.3em;
}

#start_date {
   float: left;
   font-size: 1em;
}
#chartdiv{
   margin-top: 20%;
   height: 400px;
}
#map{
   width: 100%;
   height: 300px;
   top: 40px;
   right: 60px;
}

#scroll button {
    width: 35%;
    height: 40px;
    font-size: 1.2em;
    top: 60px;
}

#m-detail {
    margin-left: 2%;
    margin-top: 10%;
}
 
}