<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>보유센서</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/mysensor/sensorlist.css">
</th:block>

<th:block layout:fragment="contents">
	<div id="container">
		<div id="main-content">
			<div class="title-header">
				<h1>보유센서</h1>
				<button id="add" value="add">보유센서 추가</button>
			</div>

			<table id="mysensor">
				<thead>
					<tr>
						<th scope="col">시리얼넘버</th>
						<th scope="col">종류</th>
						<th scope="col">모델명</th>
						<th scope="col">전압</th>
						<th scope="col">제조사</th>
						<th scope="col">현장이름</th>
						<th scope="col">등록일</th> 
					</tr>
				</thead>
				<tbody id="list">
				 	<tr th:each="sensorlist : ${sensorlist}">
						<td th:text="${sensorlist.sensor_sn}"></td>
						<td th:text="${sensorlist.sensor_kind}"></td>
						<td th:text="${sensorlist.model_name}"></td>
						<td th:text="${sensorlist.voltage}"></td>
						<td th:text="${sensorlist.manufacturer}"></td>
						<td th:text="${sensorlist.site_name}"></td>
						<td></td>
					</tr> 

				</tbody>
			</table>
		</div>

		<div class="pagination-container">
			<nav class="pagination-content">
				<div class="pagination">
					<a class="pagination-newer" href="#">PREV</a> <span
						class="pagination-inner"> <a href="#">1</a> <a
						class="pagination-active" href="#">2</a> <a href="#">3</a>
					</span> <a class="pagination-older" href="#">NEXT</a>
				</div>
			</nav>
		</div>

		<div class="search">
			<div class="select">
				<select>
					<option>종류</option>
				</select>
			</div>
			<section class="search-box">
				<div class="search-content">
					<input type="text" />
				</div>
				<div class="search-button">
					<button>Search</button>
				</div>
			</section>
		</div>
</div>
</th:block>

<th:block layout:fragment="page_js">
	<script src="/resources/js/mysensor/sensorlist.js"></script>
</th:block>
</html>