<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>보유센서</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/mysensor/sensorlist.css">
</th:block>

<th:block layout:fragment="contents">
	<div id="container">
		<div id="main-content">
			<div class="title-header">
				<h1>보유센서</h1>
				<button id="add" value="add">보유센서 추가</button>
			</div>

			<table id="mysensor">
				<thead>
					<tr>
						<th scope="col" style="width:13%">시리얼넘버</th>
						<th scope="col" style="width:13%">종류</th>
						<th scope="col" style="width:13%">모델명</th>
						<th scope="col" style="width:13%">전압</th>
						<th scope="col" style="width:20%">제조사</th>
						<th scope="col" style="width:20%">현장이름</th>
<!-- 					<th scope="col">등록일</th> -->
					</tr>
				</thead>
				<tbody id="list" th:if="${sensor == null}">
				 	<tr th:each="sensorlist : ${sensorlist}">
						<td th:text="${sensorlist.sensor_sn}"></td>
						<td th:text="${sensorlist.sensor_kind}"></td>
						<td th:text="${sensorlist.model_name}"></td>
						<td th:text="${sensorlist.voltage}"></td>
						<td th:text="${sensorlist.manufacturer}"></td>
						<td th:text="${sensorlist.site_name}"></td>
						<td style="display : none" th:text="${sensorlist.create_day}"></td>
						<td style="display : none" th:text="${sensorlist.vertical}"></td>
					</tr> 
				</tbody>
				
				<tbody id="list" th:if="${sensor != null}">
					<tr th:each="sensor : ${sensor}">
						<td th:text="${sensor.sensor_sn}"></td>
						<td th:text="${sensor.sensor_kind}"></td>
						<td th:text="${sensor.model_name}"></td>
						<td th:text="${sensor.voltage}"></td>
						<td th:text="${sensor.manufacturer}"></td>
						<td th:text="${sensor.site_name}"></td>
 						<td style="display : none" th:text="${sensor.create_day}"></td> 
						<td style="display : none" th:text="${sensor.vertical}"></td>
					</tr> 
				</tbody>
			</table>
		</div>

		<div class="pagination-container">
			<nav class="pagination-content">
				<div class="pagination">
					<a class="firstpage"> << </a>
					<a class="pagination-newer"> < </a> 
					
					<span class="pagination-inner" th:each="pageNum : ${pageNum}">
						 <a th:id="${pageNum}" th:text="${pageNum}"></a>
					</span> 
					
					<a class="pagination-older"> > </a>
					<a class="lastpage"> >> </a>
					<span id="lastNum" th:text="${lastNum}" style=display:none></span>
				</div>
			</nav>
		</div>

		<div class="search">
			<div class="select">
				<select id="search-select">
					<option value="sensor_kind">종류</option>
					<option value="model_name">모델명</option>
					<option value="manufacturer">제조사</option>
				</select>
			</div>
			<section class="search-box">
				<div class="search-content">
					<input type="text" id="keyword"/>
				</div>
				<div class="search-button">
					<button id="search">Search</button>
				</div>
			</section>
		</div>
</div>
</th:block>

<th:block layout:fragment="page_js">
	<script src="/resources/js/mysensor/sensorlist.js"></script>
</th:block>
</html>