<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>점검이력관리</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css"
		href="/resources/css/adminCheck/adminCheck.css">
</th:block>

<th:block layout:fragment="contents">
	<div class="main-panel">
		<div class="content">
			<div class="page-inner">
				<!-- 일반 open -->
				<div class="col-md-6" th:if="${check == null}">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white bg-success">O</span>
								</div>
								문제 발생
								</div>
								<div class="card-tools">
									<ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
										id="pills-tab" role="tablist">
										<li class="nav-item"><a class="nav-link" id="pills-today0"
											data-toggle="pill" role="tab">전체보기</a></li>
										<li class="nav-item"><a class="nav-link" id="pills-month0"
											data-toggle="pill" role="tab">1개월</a></li>
										<li class="nav-item"><a class="nav-link" id="pills-tmonth0"
											data-toggle="pill" role="tab">3개월</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body" id="checklist0" th:each="checkboardlist : ${check0}">
							<div class="d-flex">

								<div class="flex-1 ml-3 pt-1" th:id="${checkboardlist.board_no}">
									<h5 class="text-uppercase fw-bold mb-1">
										<span th:text="${checkboardlist.title}"></span> 
										<span class="text-success pl-3">OPEN</span>
									</h5>
									<span class="text-muted" th:text="${checkboardlist.site_name}"></span>
								</div>

								<div class="float-right pt-1 namediv">
									<!--  fw-blod 가 글씨 굵기 -->
									<small class="text-muted fw-bold" th:text="${checkboardlist.name}"></small>
								</div>
								<div class="float-right pt-1">
									<small id="date" class="text-muted" th:text="${checkboardlist.reg_date}"></small>
								</div>	
							</div>
					        <div class="separator-dashed"></div>
						</div> <!-- card-body 종료 -->
								<div class="pagination-container">
									<nav class="pagination-content">
										<div class="pagination" id="openPage">
											<a class="firstpage"> << </a> 
											<a class="pagination-newer"> < </a> 
											<span class="pagination-inner" th:each="pageNum0 : ${pageNum0}"> 
												<a th:id="${pageNum0}" th:text="${pageNum0}"></a>
											</span> 
											<a class="pagination-older"> > </a> 
											<a class="lastpage"> >> </a> 
											<span id="lastNum0" th:text="${lastNum0}" style="display: none"></span>
										</div>
									</nav>
								</div>
					</div> <!-- card 종료 -->
				</div> <!-- COL-MD-6 종료 -->
				
				<!-- 검색 open -->
				<div class="col-md-6" th:if="${check != null}"> 
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white .bg-success">O</span>
								</div>
								문제 발생
								</div>
								<div class="card-tools">
									<ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
										id="pills-tab" role="tablist">
										<li class="nav-item"><a class="nav-link" id="pills-today0"
											data-toggle="pill" href="#pills-today" role="tab">전체보기</a></li>
										<li class="nav-item"><a class="nav-link" id="pills-month0"
											data-toggle="pill" href="#pills-week" role="tab">1개월</a></li>
										<li class="nav-item"><a class="nav-link" id="pills-tmonth0"
											data-toggle="pill" href="#pills-month" role="tab">3개월</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body" id="checklist0" th:each="checkboardlist : ${check}">
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1" th:id="${checkboardlist.board_no}">
									<h5 class="text-uppercase fw-bold mb-1">
										<span th:text="${checkboardlist.title}"></span> <span
											class="text-success pl-3">OPEN</span>
									</h5>
									<span class="text-muted" th:text="${checkboardlist.site_name}"></span>
								</div>
								<div class="float-right pt-1 namediv">
									<!--  fw-blod 가 글씨 굵기 -->
									<small class="text-muted fw-bold" th:text="${checkboardlist.name}"></small>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted" th:text="${checkboardlist.reg_date}"></small>
								</div>
							</div>
							<div class="separator-dashed"></div>
						</div> <!-- card-body 종료 -->
						<div class="pagination-container">
									<nav class="pagination-content">
										<div class="pagination" id="openPage">
											<a class="firstpage"> << </a> 
											<a class="pagination-newer"> < </a> 
											<span class="pagination-inner" th:each="pageNum0 : ${pageNum0}"> 
												<a th:id="${pageNum0}" th:text="${pageNum0}"></a>
											</span> 
											<a class="pagination-older"> > </a> 
											<a class="lastpage"> >> </a> 
											<span id="lastNum0" th:text="${lastNum0}" style="display: none"></span>
										</div>
									</nav>
							</div>
					</div> <!-- card 종료 -->
				</div> <!-- COL-MD-6 종료 -->
											
			
				<!-- 일반 fixed -->
				<div class="col-md-6" th:if="${check == null}">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white bg-warning">F</span>
								</div>
								처리 중
								</div>
								<div class="card-tools">
									<ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
										id="pills-tab" role="tablist">
										<li class="nav-item"><a class="nav-link" id="pills-today1"
											data-toggle="pill" href="#pills-today" role="tab">전체보기</a></li>
										<li class="nav-item"><a class="nav-link" id="pills-month1"
											data-toggle="pill" href="#pills-week" role="tab">1개월</a></li>
										<li class="nav-item"><a class="nav-link" id="pills-tmonth1"
											data-toggle="pill" href="#pills-month" role="tab">3개월</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body" id="checklist1" th:each="checkboardlist : ${check1}">
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1" th:id="${checkboardlist.board_no}">
									<h5 class="text-uppercase fw-bold mb-1">
										<span th:text="${checkboardlist.title}"></span> <span
											class="text-warning pl-3">Fixed</span>
									</h5>
									<span class="text-muted" th:text="${checkboardlist.site_name}"></span>
								</div>
								<div class="float-right pt-1 namediv">
									<!--  fw-blod 가 글씨 굵기 -->
									<small class="text-muted fw-bold" th:text="${checkboardlist.name}"></small>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted" th:text="${checkboardlist.reg_date}"></small>
								</div>
							</div>
							<div class="separator-dashed"></div>		
						</div> <!-- card-body 종료 -->
						<div class="pagination-container">
									<nav class="pagination-content">
										<div class="pagination" id="fixedPage">
											<a class="firstpage"> << </a> <a class="pagination-newer">
												< </a> <span class="pagination-inner"
												th:each="pageNum1 : ${pageNum1}"> <a
												th:id="${pageNum1}" th:text="${pageNum1}"></a>
											</span> <a class="pagination-older"> > </a> <a class="lastpage">
												>> </a> <span id="lastNum1" th:text="${lastNum1}" style="display: none"></span>
										</div>
									</nav>
								</div>
					</div> <!-- card 종료 -->
				</div> <!-- COL-MD-6 종료 -->
			
				<!-- 검색 fixed -->
				<div class="col-md-6" th:if="${check != null}">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white bg-warning">F</span>
								</div>
								처리 중
								</div>
								<div class="card-tools">
									<ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
										id="pills-tab" role="tablist">
										<li class="nav-item"><a class="nav-link" id="pills-today1"
											data-toggle="pill" href="#pills-today" role="tab">전체보기</a></li>
										<li class="nav-item"><a class="nav-link" id="pills-month1"
											data-toggle="pill" href="#pills-week" role="tab">1개월</a></li>
										<li class="nav-item"><a class="nav-link" id="pills-tmonth1"
											data-toggle="pill" href="#pills-month" role="tab">3개월</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body" id="checklist1" th:each="checkboardlist : ${check}" >
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1" th:id="${checkboardlist.board_no}">
									<h5 class="text-uppercase fw-bold mb-1">
										<span th:text="${checkboardlist.title}"></span> <span
											class="text-warning pl-3">Fixed</span>
									</h5>
									<span class="text-muted" th:text="${checkboardlist.site_name}"></span>
								</div>
								<div class="float-right pt-1 namediv">
									<!--  fw-blod 가 글씨 굵기 -->
									<small class="text-muted fw-bold" th:text="${checkboardlist.name}"></small>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted" th:text="${checkboardlist.reg_date}"></small>
								</div>
							</div>
							<div class="separator-dashed"></div> 
						</div> <!-- card-body 종료 -->
						<div class="pagination-container">
									<nav class="pagination-content">
										<div class="pagination" id="fixedPage">
											<a class="firstpage"> << </a> <a class="pagination-newer">
												< </a> <span class="pagination-inner"
												th:each="pageNum1 : ${pageNum1}"> <a
												th:id="${pageNum1}" th:text="${pageNum1}"></a>
											</span> <a class="pagination-older"> > </a> <a class="lastpage">
												>> </a> <span id="lastNum1" th:text="${lastNum1}" style="display: none"></span>
										</div>
									</nav>
								</div>
					</div> <!-- card 종료 -->
				</div> <!-- COL-MD-6 종료 -->
			
				<!-- 일반 closed -->
				<div class="col-md-6" th:if="${check == null}">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white bg-grey">C</span>
								</div>
								처리 완료
								</div>
								<div class="card-tools">
									<ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
										id="pills-tab" role="tablist">
										<li class="nav-item"><a class="nav-link" id="pills-today2"
											data-toggle="pill" href="#pills-today" role="tab">전체보기</a></li>
										<li class="nav-item"><a class="nav-link" id="pills-month2"
											data-toggle="pill" href="#pills-week" role="tab">1개월</a></li>
										<li class="nav-item"><a class="nav-link" id="pills-tmonth2"
											data-toggle="pill" href="#pills-month" role="tab">3개월</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body" id="checklist2" th:each="checkboardlist : ${check2}">
							<div class="d-flex">
								<div class="flex-1 ml-3 pt-1" th:id="${checkboardlist.board_no}">
									<h5 class="text-uppercase fw-bold mb-1">
										<span th:text="${checkboardlist.title}"></span> <span
											class="text-muted pl-3">Close</span>
									</h5>
									<span class="text-muted" th:text="${checkboardlist.site_name}"></span>
								</div>
								<div class="float-right pt-1 namediv">
									<!--  fw-blod 가 글씨 굵기 -->
									<small class="text-muted fw-bold" th:text="${checkboardlist.name}"></small>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted" th:text="${checkboardlist.reg_date}"></small>
								</div>

							</div>
							<div class="separator-dashed"></div> 
						</div> <!-- card-body 종료 -->
						<div class="pagination-container">
									<nav class="pagination-content">
										<div class="pagination" id="closePage">
											<a class="firstpage"> << </a> <a class="pagination-newer">
												< </a> <span class="pagination-inner"
												th:each="pageNum2 : ${pageNum2}"> <a
												th:id="${pageNum2}" th:text="${pageNum2}"></a>
											</span> <a class="pagination-older"> > </a> <a class="lastpage">
												>> </a> <span id="lastNum2" th:text="${lastNum2}" style="display: none"></span>
										</div>
									</nav>
								</div>
					</div> <!-- card 종료 -->
				</div> <!-- COL-MD-6 종료 -->
				
				<!-- 검색 closed -->
				<div class="col-md-6" th:if="${check != null}">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white bg-grey">C</span>
								</div>
								처리 완료
								</div>
								<div class="card-tools">
									<ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
										id="pills-tab" role="tablist">
										<li class="nav-item"><a class="nav-link" id="pills-today2"
											data-toggle="pill" href="#pills-today" role="tab">전체보기</a></li>
										<li class="nav-item"><a class="nav-link" id="pills-month2"
											data-toggle="pill" href="#pills-week" role="tab">1개월</a></li>
										<li class="nav-item"><a class="nav-link" id="pills-tmonth2"
											data-toggle="pill" href="#pills-month" role="tab">3개월</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body" id="checklist2" th:each="checkboardlist : ${check}" >
							<div class="d-flex">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white bg-danger">C</span>
								</div>
	
								<div class="flex-1 ml-3 pt-1" th:id="${checkboardlist.board_no}">
									<h5 class="text-uppercase fw-bold mb-1">
										<span th:text="${checkboardlist.title}"></span> <span
											class="text-muted pl-3">Close</span>
									</h5>
									<span class="text-muted" th:text="${checkboardlist.site_name}"></span>
								</div>
								<div class="float-right pt-1 namediv">
									<!--  fw-blod 가 글씨 굵기 -->
									<small class="text-muted fw-bold" th:text="${checkboardlist.name}"></small>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted" th:text="${checkboardlist.reg_date}"></small>
								</div>

							</div>
							<div class="separator-dashed"></div>
						</div> <!-- card-body 종료 -->
						<div class="pagination-container">
									<nav class="pagination-content">
										<div class="pagination" id="closePage">
											<a class="firstpage"> << </a> <a class="pagination-newer">
												< </a> <span class="pagination-inner"
												th:each="pageNum2 : ${pageNum2}"> <a
												th:id="${pageNum2}" th:text="${pageNum2}"></a>
											</span> <a class="pagination-older"> > </a> <a class="lastpage">
												>> </a> <span id="lastNum2" th:text="${lastNum2}" style="display: none"></span>
										</div>
									</nav>
							</div>
					</div> <!-- card 종료 -->
				</div> <!-- COL-MD-6 종료 -->

				<div class="search">
					<div class="select">
						<select id="search-select">
							<option value="site_name">현장이름</option>
							<option value="name">글쓴이</option>
							<option value="title">제목</option>
						</select>
					</div>
					<section class="search-box">
						<div class="search-content" >
							<input type="text" id="keyword" placeholder="search" /> 
						</div>
						<div class="search-button">
							<button id="search"><img src="/resources/img/search.svg" id="search" style="width: 30px; height:30px;"/></button>
						</div>
					</section>
				</div>

			</div><!-- page-inner 종료 -->
		</div><!-- content 종료 -->
	</div><!-- main-panel 종료 -->
	
	
</th:block>

<th:block layout:fragment="page_js">
	<script src="/resources/js/adminCheck/adminCheck.js"></script>
</th:block>
</html>