@charset "UTF-8";

html {
  overflow-x: hidden; 
 }
 
.none{
	display : none;
}

#container {
    width: 1130px;
    height: 750px;
    margin: 20px 20px 20px 320px;
    padding: 20px;
    margin-top:125px;
    }

.title-header {
    height: 50px;
    border-bottom: 2px solid #5fc5ee;
	color: #000;
 }
  
  .title-header h1 {
    float: left;
    width: 300px;
    margin: 0;
    padding: 0 0 0 20px;
  }
  
 .button-container {
    height: 20px;
    margin-top: 2%;
  }

 #user tr:hover {
	background-color: #eaecf4;
}

#user a {
	border: 1px solid #dddfe6;
    background-color: #FFF;
    width: 80px;
    height: 55px;
	cursor: pointer;
	font-size: 1.1em;	
}

  #user a:hover {
	border: 1px solid #4e73df;
	cursor:pointer
}

  @media ( max-width: 1001px ) {
    #container {
      width: auto;
    }
    #main-content {
      float: none;
      width: auto;
    }
    .title-header {
      float: none;
      width: auto;
    }
    .button-container {
      float: none;
      width: auto;
    }
    .pagination-container {
      float: none;
      width: auto;
    }
    .pagination{
      float: none;
      width: auto;
    }
    .search {
      float: none;
      width: auto;
    }
    .select {
      float: none;
      width: auto;
    }
    .search-box {
      float: none;
      width: auto;
    }
    select { 
  width: 120px; /* 원하는 너비설정 */
  padding: .6em .5em; /* 여백으로 높이 설정 */ 
  font-family: inherit; /* 폰트 상속 */ 
  border: 1px solid #999; 
  border-radius: 20; /* iOS 둥근모서리 제거 */ 
  -moz-appearance: none; appearance: none;
  margin-left: 200px;
}
}

table {
    border-left:hidden;
    border-right:hidden;
    border-collapse: collapse;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    /* background-color:  #f6f8fd; */
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
    height: 30px;
    font-size: 1.1em;
  }
  
  table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .button-container button { 
    float: right;
  }
 
  .select {
    float: left;
    width: 100px;
  }

  .search {
    width: 100%;
    padding: 20px 0;
    margin-left: 8%;
  }
  
  select { 
  width: 120px; /* 원하는 너비설정 */
  padding: .6em .5em; /* 여백으로 높이 설정 */ 
  font-family: inherit; /* 폰트 상속 */ 
  border: 1px solid #999; 
  border-radius: 20; /* iOS 둥근모서리 제거 */ 
  -moz-appearance: none; appearance: none;
  margin-left: 200px;
}

.pagination-container {
  margin: 60px auto;
  text-align: center;
}
.pagination {
  position: relative;
  display : block;
}
.pagination a {
  position: relative;
  display: inline-block;
  color: #2c3e50;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 8px 16px 10px;
}
.pagination a:before {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #2c3e50;
  border-radius: 24px;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: all 0.2s;
}
.pagination a:hover{
  z-index: 501;
  color: #fff !important;
}
.pagination a:hover:before,
.pagination a .pagination-active:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.pagination .pagination-active {
  z-index: 501;
  color: #fff !important; 
}
.pagination .pagination-active:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.pagination-newer {
  margin-right: 50px;
}

.pagination-older {
  margin-left: 50px;
}

.search-box { 
  display: flex;
  margin: 0 0 0 29%;
  width: 400px;
}
.search-box .search-content {
   flex: 1; 
  }
.search-box .search-button {
   margin-left: 8%; 
  }
.search-box div input {
   padding: .5em 1em; 
   width: 100%; 
  }
.search-box div button { 
  padding: .5em 1em; 
  white-space: nowrap;
   border: none;
   background-color: #2c3e50;
   color: #FFF;
   cursor:pointer;
   margin-left: 2%;
   height: 32px;
}

@media screen and (max-width: 768px) {
  .search {
    float: none;
    width: auto;
    margin-left: 2%;
  }
  .select {
    clear: both;
    height: 0;
    width: auto;
  }
  .search-box {
    clear: both;
   /*  width: auto; */
    margin-left: 180px;
    width: 450px;
  }
  select { 
  width: 120px; /* 원하는 너비설정 */
  padding: .6em .5em; /* 여백으로 높이 설정 */ 
  font-family: inherit; /* 폰트 상속 */ 
  border: 1px solid #999; 
  border-radius: 20; /* iOS 둥근모서리 제거 */ 
  -moz-appearance: none; appearance: none;
  margin-left: 50px;
}
}

@media screen and (max-width: 360px) {
#container {
    height: 550px;
    }
  .title-header h1{
  	width: 150px;
  	font-size: 1.8em;
  }
  .search {
    float: none;
    width: auto;
    padding-top: 10px;
  }
  .select {
    clear: both;
    height: 0;
    width: auto;
  }
  .search-box {
    clear: both;
    width: auto;
    margin-left: 100px;
  }
  select { 
  width: 95px;
  margin:0;
  }
  
 .pagination-container {
  margin: 20px auto;
  text-align: center;
}
.pagination {
  position: relative;
}
.pagination a {
  position: relative;
  display: inline-block;
  color: #2c3e50;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 8px 6px 10px;
}
.pagination a:before {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #2c3e50;
  border-radius: 24px;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: all 0.2s;
}
.pagination a:hover,
.pagination a .pagination-active {
  color: #fff;
}
.pagination a:hover:before,
.pagination a .pagination-active:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.pagination .pagination-active {
  color: #fff;
}
.pagination .pagination-active:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.pagination-newer {
  margin-right: 2px;
}
.pagination-older {
  margin-left: 2px;
}
table th {
    font-size: 0.76em;
}
table td img{
  width: 10px;
  height: 10px;
}
table td {
	font-size: 0.9em;
}


}

