#mypagechecklist tr:hover {
	background-color: #eaecf4;
}

.title-header {
    height: 40px;
   	border-bottom: 2px solid #5fc5ee;
    color: #000;
    margin: 12% 0 0 -0.2%;
  }
  
  .title-header h1 {
    float: left;
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 1.5em;
  }

h3 {
	width: 110px;
    margin-left: 10px;
    font-size: 0.88em;
}
img{
	width: 90px;
	height: 90px;
}

#buttons .imgbtn {
    width: 10%;
    font-size: 0.95em;
}

.imgbtn {
	width:14%;
}

#buttons {
	margin-left: 4%;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f6f8fd;
  border: 1px solid #ddd;
  padding: .35em;
  font-size: 1.1em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .75em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

input[type="button"] {
	border: none;
    background-color: #2c3e50;
    color: #FFF;
    font-size: 0.88em;
    cursor:pointer;
}


.wrapper{
  /*padding:0;
    margin:0;*/
  
    width: 95%;
    height: 100%;
   /* position: relative;*/
    margin:20px auto;
    margin-top: 80px;
   
}
.cell{
  width:32%;
  height: 100px;
  display: inline-flex;
  background-position:center;
  margin-top: 10%;
  margin-left: 1%;
  float: left;

}

img {
	width: 100px;
}

.w1 {
    margin-top: 20px;
    height: 130px;
}


/* .w2{
  margin-bottom:100px;
} */
.w3{
  margin-top:10px;
  margin-bottom:10px;

}

.n1{
  font-size: 1.7em;
  text-align: left;
  margin: 50% 0 -1% 1%;
  display: block;
}

.n2{
  display: block;
  font-size: 1.2em;
  text-align: left;
  margin: 0 0 0 1.6%;
  color: #2b90d9;
  
}
.n3{
  display: block;
  font-size: 1em;
  text-align: left;
  position: relative;
  left: 2px;
  top: 2px;
}

.name02{
  width:40%;
  height: 130px;
  display: inline-block;
  float: right;
  margin-top: -25%;
  
}
.up{
  width:45%;
  height: 30%;
  margin-left: 4%;
  box-shadow: 1px 1px 1px 1px;

}
.update{
  width:48%;
  height: 30%;
  float: right;
  box-shadow: 1px 1px 1px 1px;
}

/*�럹�씠吏뺣�遺�*/
.pagination-container {
  /* margin: 100px auto; */
  text-align: center;
}
.pagination {
  position: relative;
}
.pagination a {
  position: relative;
  display: inline-block;
  color: #2c3e50;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 8px 6px 10px;
}
.pagination a:before {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #2c3e50;
  border-radius: 24px;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: all 0.2s;
}
.pagination a:hover,
.pagination a .pagination-active {
  color: #fff;
}
.pagination a:hover:before,
.pagination a .pagination-active:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.pagination .pagination-active {
  color: #fff;
}
.pagination .pagination-active:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.pagination-newer {
  margin-right: 2px;
}
.pagination-older {
  margin-left: 2px;
}
