@font-face {
  font-family: a신그래픽L;
  src: url('/font/a신그래픽L.TTF');
}

html, body{font-family: 'a신그래픽L';}


.ui-grid-c li a::after {
  display:none;
  background-color: #F4F6FD;  
}

.ui-btn-icon-top {
  padding:.6em 1em;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    text-align: center;
  }
  
  table th {
    font-size: .60em;
    letter-spacing: .1em;
    text-transform: uppercase;
    height:20px;
  }
  table td{
     font-size:.90em;
  }
  
  .pagination li{
     display:inline-block;
     margin-right:5px;
     cursor:pointer;
  }

  #aa {
    width:100px;
    height:50px;
  }
   img {
     width:12px;
  }