<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wda.sc.mapper.CheckboardMapper">

	<select id="getList" resultType="com.wda.sc.domain.CheckBoardVO" parameterType="com.wda.sc.domain.Paging">
		<![CDATA[
		select x.rnum, x.* from
			(select rownum as rnum, p.* from
     			 (select c.board_no, m.name, c.user_id, c.title,c.reg_date,c.board_status,c.site_name 
     			  from (select board_no,check_board.user_id, check_board.title, substr(check_board.reg_date,0,14) as reg_date,check_board.board_status,check_board.site_id, site.site_name
            			from check_board,site
            			where check_board.site_id = site.site_id) c,member m
      			  where c.user_id = m.user_id
      			  order by reg_date desc) p where rownum < #{endnum}) x
		where x.rnum >= #{startnum}
		order by x.reg_date desc
		]]>
	</select>
	
	<select id="viewgetList" resultType="com.wda.sc.domain.CheckBoardVO">
	select c.board_no,m.name, c.user_id, c.title, c.board_content, c.reg_date,c.board_status,c.site_name
		from (select board_no,check_board.user_id, check_board.title, check_board.board_content,
        	  substr(check_board.reg_date,0,14) as reg_date,
        	  check_board.board_status,check_board.site_id, site.site_name
			  from check_board,site
			  where check_board.site_id = site.site_id) c,member m
		where c.user_id = m.user_id
		and c.board_no = #{board_no}
	</select>
	
	
	
	
	
	<select id="getPageNum" resultType="int">
			select count(board_no) from check_board
	</select>
	
	<select id="mainList" resultType="com.wda.sc.domain.CheckBoardVO">
	<![CDATA[
	select rownum,b.*,f.file_path from
    (select a.*,m.name
     from(select c.board_no,c.user_id,substr(c.reg_date,0,8)as reg_date,c.title,c.board_content,c.board_status,c.site_id, s.site_name 
         from check_board c, site s
     where c.site_id=s.site_id) a, member m
	where a.user_id=m.user_id  order by reg_date desc)b full outer join check_board_file f
	on b.board_no = f.board_no
	where rownum < 7
	]]>
	</select>
	
	<!-- 점검이력 글쓰기 -->
	<insert id="insertcheckboard" parameterType="com.wda.sc.domain.CheckBoardVO">
	insert into check_board(board_no,user_id,reg_date,title,board_content,board_status,site_id)
	values(check_seq.nextval, #{user_id}, sysdate,#{title},#{board_content},#{board_status},#{site_id})
	</insert>
	
	<!-- 점검이력 수정 권한체크 -->
	
	<select id="checkauthority" resultType="int">
	select m_level
		from member
		where user_id = #{user_id}
		
	</select>
	

	
</mapper>