<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wda.sc.mapper.CheckboardMapper">

	<select id="getList" resultType="com.wda.sc.domain.checkboardVO">
select m.name, c.user_id, c.title,c.reg_date,c.board_status,c.site_name from 
(select check_board.user_id,
        check_board.title,
        substr(check_board.reg_date,0,14) as reg_date,
        check_board.board_status,
        check_board.site_id,
        site.site_name
from check_board
       ,site
where check_board.site_id = site.site_id) c,member m
where c.user_id = m.user_id
	</select>

	
</mapper>