<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wda.sc.mapper.CompanyMapper">
	<select id="getPageNum" resultType="int">
         select count(company_num) from company
   </select>
   
   <select id="getList" resultType="com.wda.sc.domain.CompanyVO">
	<![CDATA[
     select x.rnum, x.* from
    ( select rownum as rnum, p.* from
    (  select c.name, c.company_num, c.reg_number ,a.num, c.company_tel
		from (select c.company_num, nvl(count(site.company_num),0) as num
       	 	  from company c full outer join site
        on site.company_num = c.company_num
        group by c.company_num) a, company c
		where a.company_num = c.company_num) p where rownum < #{endnum}) x
    where x.rnum >= #{startnum}
    order by x.company_num
    ]]>
	</select>
	
	<insert id="insertCompany" parameterType="com.wda.sc.domain.CompanyVO">
		insert into company(company_num,name,reg_number,company_tel) values(company_seq.nextval, #{name},#{reg_number},#{company_tel})
	</insert>
	
	<update id="modCompany" parameterType="com.wda.sc.domain.CompanyVO">
		update company set name=#{name}, reg_number=#{reg_number} , company_tel=#{company_tel}
		where company_num=#{company_num} 
	</update>
	
	<!-- 협력사 관리 검색 -->
	<select id="companySearch" resultType="com.wda.sc.domain.CompanyVO">
		select * from company where ${searchType} LIKE '%' || '${keyword}' || '%'
	</select>
	
	<!-- 협력사 관리 검색 + 페이징 -->
	<select id="CompanySearchResult" resultType="com.wda.sc.domain.CompanyVO" parameterType="map">
	<![CDATA[	
  	select x.rnum, x.*
	from (select rownum as rnum, p.*
      	  from (select c.name, c.company_num, c.reg_number ,a.num
            	from (select c.company_num, nvl(count(site.company_num),0) as num
                  	  from company c full outer join site
                  	  on site.company_num = c.company_num
                  	  group by c.company_num) a, company c
            		  where a.company_num = c.company_num and name LIKE '%TR%') p 
      			where rownum < #{Paging.endnum}) x
		  where x.rnum >= #{Paging.startnum}
	order by x.name
    ]]>
	</select>
	
	<!-- 모든 협력사 가져오기-->
	<select id="getAllCompany" resultType="com.wda.sc.domain.CompanyVO">
		select * from company
	</select>
	
	<!-- 연결된 협력사 들고오기 -->
	<select id="getConnCompany" resultType="com.wda.sc.domain.CompanyVO">
		select site.company_num, count(site.company_num) as company_connect
		from company c, site
		where site.company_num = c.company_num
		group by site.company_num
	</select>
	
	<!-- 협력사 현장 이름 보여주기 -->
	<select id="SiteCompany" resultType="com.wda.sc.domain.SiteVO">
		select * from site
    	where company_num = #{company_num}
	</select>
</mapper>