<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wda.sc.mapper.MyPageMapper">

	<select id="getInfo" resultType="com.wda.sc.domain.MemberVO">
		select * from member where user_id = #{user_id}
	</select>
	
	<select id="myList" resultType="com.wda.sc.domain.CheckBoardVO" parameterType="map">
		<![CDATA[
		select x.* 
		from (select rownum as rnum,before_ord.*
		      from (select m.name, before_tab.*
		            from (select c.user_id, c.title, substr(c.reg_date,0,14) as reg_date,c.board_status,c.site_id, s.site_name
		                  from check_board c,site s
		                  where c.site_id = s.site_id) before_tab ,member m
		            where before_tab.user_id = m.user_id and m.user_id = #{user_id}) before_ord
              	    where rownum < #{paging.endnum}) x
		where x.rnum >= #{paging.startnum}
		order by x.name
		]]>
	</select>
	
	<select id="confirmpasswd" resultType="com.wda.sc.domain.MemberVO">
		select password from MEMBER where user_id = #{user_id}
	</select>
	
	<update id="updateuserinfo" parameterType="com.wda.sc.domain.MemberVO">
		update MEMBER set USER_ID = #{user_id},
    	PASSWORD = #{password},
   		PHONE = #{phone},
   	 	NAME = #{name}
    	where user_id = #{user_id}
	</update>
	
	<select id="getPageNum" resultType="int">
			select count(board_no) from check_board where user_id = #{user_id}
	</select>
	
</mapper>