<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wda.sc.mapper.MyPageMapper">

	<select id="getInfo" resultType="com.wda.sc.domain.MemberVO">
		select * from member m full outer join member_file f
		on(m.user_id = f.user_id)
		where m.user_id = #{user_id}
	</select>
	
	<select id="myList" resultType="com.wda.sc.domain.CheckBoardVO" parameterType="map">
		<![CDATA[
		select x.* 
      	from (select rownum as rnum,before_ord.*
                    from (select m.name, before_tab.*
                  from (select c.board_no,c.user_id, c.title, substr(c.reg_date,0,14) as reg_date,c.board_status,c.site_id, s.site_name
                        from check_board c,site s
                        where c.site_id = s.site_id) before_tab, member m
                  where before_tab.user_id = m.user_id and m.user_id = #{user_id}
                    order by before_tab.reg_date desc) before_ord
                     where rownum < #{paging.endnum}) x
      	where x.rnum>= #{paging.startnum}
		]]>
	</select>
	
	<!-- 앱용 점검이력 -->
	<select id="mcheck" resultType="com.wda.sc.domain.CheckBoardVO">
		<![CDATA[
		select m.name, before_tab.*
        	from (select c.board_no,c.user_id, c.title, substr(c.reg_date,0,14) as reg_date,c.board_status,c.site_id, s.site_name
            	from check_board c,site s
                where c.site_id = s.site_id) before_tab, member m
            where before_tab.user_id = m.user_id and m.user_id = 'admin'
            order by before_tab.reg_date desc
        ]]>
	</select>
	
	
	<select id="myListView" resultType="com.wda.sc.domain.CheckBoardVO">
	select c.board_no,m.name, c.user_id, c.title, c.board_content, c.reg_date,c.board_status,c.site_name 
		from (select board_no,check_board.user_id, check_board.title, check_board.board_content,
        	  substr(check_board.reg_date,0,14) as reg_date,
        	  check_board.board_status,check_board.site_id, site.site_name
			  from check_board,site
			  where check_board.site_id = site.site_id) c,member m
		where c.user_id = m.user_id
		and c.board_no = #{board_no}
	</select>
	
	<select id="confirmpasswd" resultType="com.wda.sc.domain.MemberVO">
		select password from MEMBER where user_id = #{user_id}
	</select>
	
	<update id="updateuserinfo" parameterType="com.wda.sc.domain.MemberVO">
		update MEMBER set USER_ID = #{user_id},
    	PASSWORD = #{password},
   		PHONE = #{phone},
   	 	NAME = #{name}
    	where user_id = #{user_id}
	</update>
	
	<select id="getPageNum" resultType="int">
			select count(board_no) from check_board where user_id = #{user_id}
	</select>
	
	<select id="getToken" resultType="com.wda.sc.domain.TokenVO">
		select token_id from web_token where user_id = #{user_id}
	</select>
	
	<insert id="saveToken" parameterType="com.wda.sc.domain.TokenVO">
		insert into web_token(token_id,user_id,ex_date) values( #{token_id},#{user_id},sysdate)
	</insert>	
	
	<update id="updateToken" parameterType="map">
		update web_token set token_id=#{token}
		where user_id=#{user_id} 
	</update>
	
	<select id="getappToken" resultType="com.wda.sc.domain.AppTokenVO">
		select token_id from app_token where user_id = #{user_id}
	</select>
	
	<insert id="saveappToken" parameterType="com.wda.sc.domain.AppTokenVO">
		insert into app_token(token_id,user_id,ex_date) values( #{token_id},#{user_id},sysdate)
	</insert>
	
	<update id="updateappToken" parameterType="map">
		update app_token set token_id=#{token}
		where user_id=#{user_id} 
	</update>	
	
	<select id="allappToken" resultType="com.wda.sc.domain.AppTokenVO">
		select token_id from app_token
	</select>
</mapper>