<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wda.sc.mapper.MysensorMapper">

	<select id="getList" resultType="com.wda.sc.domain.MysensorVO">
		select * from my_sensor
	</select>

	<insert id="insertmysensor" parameterType="com.wda.sc.domain.MysensorVO">
		insert into my_sensor(sensor_sn,model_name,sensor_kind,manufacturer,voltage) values(#{sensor_sn}, #{model_name},#{sensor_kind},#{manufacturer},#{voltage})
	</insert>
	
	<select id="installSelect" resultType="com.wda.sc.domain.InstallSensorVO">
		select * from install_sensor
	</select>
	 
	 <!-- 설치 센서 삭제   -->
	<delete id="deleteInstallSensor"> 
		delete from install_sensor where sensor_sn = #{sensor_sn} 
 	</delete> 
 	
	<!-- 센서 정보 삭제  -->
	<delete id="deleteInfoSensor"> 
 		delete from sensor_info where sensor_sn = #{sensor_sn} 
 	</delete> 
 	
 	<!-- 보유 센서  삭제  -->
	<delete id="deleteMySensor"> 
 		delete from my_sensor where sensor_sn = #{sensor_sn} 
 	</delete> 
</mapper>