<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wda.sc.mapper.SiteMapper">

	<select id="getList" resultType="com.wda.sc.domain.SiteVO">
	<![CDATA[
		select site_id,type_no,site_name,address,site_status,substr(start_date,0,14) as start_date 
		from (select * from site order by site_status desc)
		where rownum < 17 
	]]>
	</select>

	<select id="getSite" resultType="com.wda.sc.domain.SiteVO">
	<![CDATA[ 
		select site_id,type_no,site_name,address,site_status,substr(start_date,0,8) as start_date
		from site where site_id = #{site_id}
		]]>
	</select>
	
	<select id="repairList" resultType="com.wda.sc.domain.CheckBoardVO" parameterType="map">
	<![CDATA[
	select x.rnum, x.* from
    (select rownum as rnum, p.* from
        (select c.board_no, m.name, c.user_id, c.title,c.reg_date,c.board_status,c.site_name 
         from (select board_no,check_board.user_id, check_board.title, substr(check_board.reg_date,0,14) as reg_date,check_board.board_status,check_board.site_id, site.site_name
               from check_board,site
               where check_board.site_id = site.site_id and check_board.site_id = #{site_id}) c,member m
         where c.user_id = m.user_id
         order by reg_date desc) p where rownum < #{paging.endnum}) x
	where x.rnum >= #{paging.startnum}
	order by x.reg_date desc
	]]>	 
	</select>
	
	<select id="getAlarm_member" resultType="com.wda.sc.domain.AlarmMemberVO">
		select name,tel,company,alarm_m_no from alarm_member where site_id = #{site_id}
	</select>
	
	<select id="getAlarm" resultType="com.wda.sc.domain.AlarmVO">
		select alarm_no,site_id,alarm_content,substr(alarm_time,0,14) as alarm_time,send_user from alarm where site_id = #{site_id}
	</select>
	
	<select id="getPageNum" resultType="int">
			select count(site_id) from site
	</select>
	
	<select id="repairPageNum" resultType="int">
			select count(site_id) from check_board where site_id = #{site_id}
	</select>
	
	<select id="getContent" resultType="com.wda.sc.domain.SiteVO" parameterType="com.wda.sc.domain.Paging">
		<![CDATA[
		select x.* 
		from (select rownum as rnum,site_id,type_no,site_name,address,site_status,substr(start_date,0,14) as start_date, before_num
			  from (select rownum as before_num, s.* 
                    from (select * 
                          from site
                          order by site_status desc)s)a
                where a.before_num < ${endnum}) x
		where x.before_num >= ${startnum}
		]]>
	</select>
	
	<!-- 현장 클릭시 현장상태  -->
	<select id="getStatus" resultType="com.wda.sc.domain.SiteVO">	
		select site_status from site where site_id = #{site_id}	
	</select>
	
	<!--알람 내용 추가 -->
	<insert id="insertAlarm" parameterType="com.wda.sc.domain.AlarmVO">
		insert into alarm(alarm_no,site_id,alarm_content,alarm_time,send_user) values(alarm_seq.nextval, #{site_id},#{alarm_content},sysdate,#{send_user})
	</insert>
	
	<!--현장 추가 -->
	<insert id="siteadd" parameterType="com.wda.sc.domain.SiteVO">
		insert into site(site_id,type_no,site_name,address,start_date,site_status) values(site_seq.nextval,#{type_no}, #{site_name},#{address},sysdate,'1')
	</insert>
	
	<insert id="networkadd" parameterType="com.wda.sc.domain.SiteVO">
		insert into network(sig_id,site_id,sig_protocol,host_ip,sig_port_num,port_num) values(network_seq.nextval,site_seq.currval,'tcp',#{host_ip},#{sig_port_num},#{port_num})
	</insert>	
	
	<!--현장 수정 -->
	<select id="joinSite" resultType="com.wda.sc.domain.SiteVO">
		select * from site s,network n where s.site_id = n.site_id and s.site_id = #{site_id}
	</select>
	
	<update id="updatesite" parameterType="com.wda.sc.domain.SiteVO">
		update site set type_no = #{type_no}, site_name = #{site_name}, address = #{address}
    	where site_id = #{site_id}
	</update>
	
	<update id="updatenetwork" parameterType="com.wda.sc.domain.SiteVO">
		<![CDATA[
		update network set sig_protocol = 'tcp', host_ip = #{host_ip}, sig_port_num = #{sig_port_num}, port_num = #{port_num}
    	where site_id = #{site_id}
    	]]>
	</update>
	
	<!--연락망 사람 추가-->
	<insert id="insertAlarmMember" parameterType="com.wda.sc.domain.AlarmMemberVO">
		insert into alarm_member(alarm_m_no,site_id,tel,name,company) values('4', #{site_id},#{tel},#{name},#{company})
	</insert>
	<!--연락망 사람 수정 -->
	<update id="modAlarm" parameterType="com.wda.sc.domain.AlarmMemberVO">
		update alarm_member set tel=#{tel}, name=#{name}, company=#{company} where alarm_m_no=#{alarm_m_no} 
	</update>
	<!--연락망 사람 삭제 -->
	<delete id="delAlarm">
		delete from alarm_member where alarm_m_no = #{alarm_m_no}
	</delete>
	
	<!--보유 센서 종류 -->
	<select id="getSensorKind" resultType="com.wda.sc.domain.MysensorVO">
		select sensor_kind, count(*) as count
		from my_sensor
		group by sensor_kind
	</select>
	
	<!-- 점검이력 셀렉트박스  -->
	<select id="getchecksite" resultType="com.wda.sc.domain.SiteVO">
		select * from site
	</select>

	<!-- 현장 검색 -->
	<select id="siteSearch" resultType="com.wda.sc.domain.SiteVO">
		select site_id,type_no,site_name,address,site_status,substr(start_date,0,14) as start_date 
		from (select * from site order by site_status desc) 
		where ${searchType} LIKE '%' || '${keyword}' || '%'
	</select>
	
	<!-- 현장 검색 + 페이징-->
	<select id="getSearchResult" resultType="com.wda.sc.domain.SiteVO" parameterType="map">
	<![CDATA[	
		select x.* 
		from (select rownum as rnum,site_id,type_no,site_name,address,site_status,substr(start_date,0,14) as start_date, before_num
			  from (select rownum as before_num, s.* 
                    from (select * 
                          from site
                          where ${Search.searchType} LIKE '%' || '${Search.keyword}' || '%'
                          order by site_status desc)s)a
                where a.before_num < ${Paging.endnum}) x
		where x.before_num >= ${Paging.startnum}
		]]>
	</select>
		
	<!-- 수리내역 검색 -->
	<select id="repairSearch" resultType="com.wda.sc.domain.CheckBoardVO">
		select c.board_no, m.name, c.user_id, c.title,c.reg_date,c.board_status,c.site_name 
         from (select board_no,check_board.user_id, check_board.title, substr(check_board.reg_date,0,14) as reg_date,check_board.board_status,check_board.site_id, site.site_name
               from check_board,site
               where check_board.site_id = site.site_id and check_board.site_id = ${site_id}) c,member m
         where c.user_id = m.user_id and ${searchType} LIKE '%' || '${keyword}' || '%'
         order by reg_date desc
	</select>
		
	<!-- 수리내역 검색  + 페이징-->	
	<select id="getSearchResultRepair" resultType="com.wda.sc.domain.CheckBoardVO" parameterType="map">
	<![CDATA[	
		select x.rnum, x.* from
   		(select rownum as rnum, p.* from
        (select c.board_no, m.name, c.user_id, c.title,c.reg_date,c.board_status,c.site_name 
         from (select board_no,check_board.user_id, check_board.title, substr(check_board.reg_date,0,14) as reg_date,check_board.board_status,check_board.site_id, site.site_name
               from check_board,site
               where check_board.site_id = site.site_id and check_board.site_id = ${Search.site_id} ) c,member m
         where c.user_id = m.user_id  and ${Search.searchType} LIKE '%' || '${Search.keyword}' || '%'
         order by reg_date desc) p where rownum < #{Paging.endnum}) x
		 where x.rnum >= #{Paging.startnum}
		 order by x.reg_date desc
	]]>
	</select>
	
	<!-- site_id로  site_name 가져오기 -->
	<select id="getSiteName" resultType="String">
	<![CDATA[ 
		select site_name
		from site where site_id = #{site_id}
		]]>
	</select>
	
	<!-- 설치센서조회 -->

	<select id="installSensorList" resultType="com.wda.sc.domain.MysensorVO" parameterType="map">
	 <![CDATA[
	 	select x.rnum, x.* from
    	(select rownum as rnum, p.* from
        	(select m.sensor_sn, m.model_name, m.sensor_kind, m.manufacturer, m.voltage, substr(create_day,0,14) as create_day
		from install_sensor i, my_sensor m
		where i.site_id = #{site_id}
		and i.sensor_sn = m.sensor_sn
   		order by create_day desc) p where rownum < #{paging.endnum}) x
		where x.rnum >= #{paging.startnum}
		order by x.create_day desc
    ]]>
	</select>
	
	<select id="sensorPageNum" resultType="int">
		select count(site_id) from install_sensor where site_id = #{site_id}
	</select> 
	
	<select id="getSensor" resultType="com.wda.sc.domain.MysensorVO">
		select sensor_sn, sensor_kind, model_name
		from my_sensor 
		where sensor_sn = #{sensor_sn}
	</select>
	
	<!-- 센서관리 검색  -->
	<select id="smSearch" resultType="com.wda.sc.domain.MysensorVO" >
		select my_sensor.sensor_sn, my_sensor.model_name, my_sensor.sensor_kind, my_sensor.manufacturer, my_sensor.voltage, substr(my_sensor.create_day,0,14) as create_day, install_sensor.site_id
		from my_sensor FULL OUTER JOIN install_sensor
		on my_sensor.sensor_sn = install_sensor.sensor_sn
		where site_id = ${site_id} and ${searchType} LIKE '%' || '${keyword}' || '%'
	</select>

	<!-- 센서관리 검색 + 페이징 -->
	<select id="getSearchResultSM" resultType="com.wda.sc.domain.MysensorVO" parameterType="map">
	<![CDATA[	
	select x.rnum, x.* from
    ( select rownum as rnum, p.* from
    ( select c.sensor_sn, c.model_name, c.sensor_kind, c.manufacturer, c.voltage, c.create_day, c.site_id, s.site_name
    from (select my_sensor.sensor_sn, my_sensor.model_name, my_sensor.sensor_kind, my_sensor.manufacturer, my_sensor.voltage, substr(my_sensor.create_day,0,14) as create_day, install_sensor.site_id
    from my_sensor FULL OUTER JOIN install_sensor
    on my_sensor.sensor_sn = install_sensor.sensor_sn where site_id = ${Search.site_id} and ${Search.searchType} LIKE '%' || '${Search.keyword}' || '%') c  LEFT OUTER JOIN site s
    on c.site_id = s.site_id 
    order by create_day desc ) p where rownum < #{Paging.endnum}) x
    where x.rnum >= #{Paging.startnum}
    order by x.create_day desc
    ]]>
	</select>
	
	<!-- 센서데이터 표(이름) -->
	<select id="getDataName" resultType="com.wda.sc.domain.SensorDataVO">
	<![CDATA[
		select DISTINCT sensor_name
		from sensor_date
		where site_id = #{site_id}
		and sensor_name not like '%volt%'
		order by CASE WHEN sensor_name IN ('PTemp') THEN 1 ELSE 0 END, sensor_name asc
	]]>
	</select>
	
	<select id="getGraphName" resultType="com.wda.sc.domain.SensorDataVO">
	<![CDATA[
		select DISTINCT sensor_name
		from sensor_date
		where site_id = #{site_id}
		and sensor_name not like '%volt%'
		order by CASE WHEN sensor_name IN ('PTemp') THEN 1 ELSE 0 END, sensor_name asc
	]]>
	</select>
	
	<!-- 센서데이터 표(데이터) -->
	<select id="getData" resultType="com.wda.sc.domain.SensorDataVO">
	<![CDATA[
		select cur_date, sensor_name, sensing_data
		from sensor_date
		where site_id = #{site_id}
		and sensor_name not like '%volt%'
		order by sensor_data_num desc
	]]>
	</select>
	
	<!-- 그래프 그리기 -->
	<select id="getSensingDate" resultType="com.wda.sc.domain.SensorDataVO">
		select * from sensor_date
     	where site_id = #{site_id}
		order by cur_date
	</select>

	<!--앱검색 -->
	<select id="getAppSearch" resultType="com.wda.sc.domain.SiteVO">
		select * from site
		where site_name LIKE '%' || #{word} || '%'
	</select>
	
</mapper>