<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wda.sc.mapper.TimelineMapper">

	<select id="getList" resultType="com.wda.sc.domain.timelineVO">
		select timeline_n,user_id,content,substr(time,0,14) as time from timeline
	</select>

	
</mapper>