<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wda.sc.mapper.UsermanageMapper">

	<select id="getList" resultType="com.wda.sc.domain.memberVO">
select user_id,name,phone,m_level from member order by m_level desc
	</select>

	
</mapper>