<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>수정 팝업창</title>
<link href="/resources/css/company/companymodify.css" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function(){
	
	$("#name").val($(".1", opener.document).text());
	$("#reg_number").val($(".2", opener.document).text());
	$("#company_num").val($(".3", opener.document).text());
	
	function remove(){
		$(".1" ,opener.document).removeClass();
		$(".2" ,opener.document).removeClass();
		$(".3" ,opener.document).removeClass();
	}
	
	
	
	$("#mod").click(function(){
		
		if($("#name").val() == "" || $("#reg_number").val() == "") {
 			alert("빈 값이 있어 등록되지 않습니다.");
 		return false;
 		}
		
		var query = { 
					name : $("#name").val(),
					reg_number : $("#reg_number").val(),
					company_num : $("#company_num").val()
			}
	
		
		$.ajax({
			  type : "POST",
			  url : "/company/companymod.do",
			  data : query,
			  success : function(data){
				  if( data == "success"){
					  alert("수정되었습니다");
					  window.opener.location.reload();
					  remove();
					  window.close();
				  } else{
					  alert("수정에 실패했습니다");
				  }
			  }
			  
		}); // ajax 종료
	}); // mod 클릭 종료
	
	
	$(window).bind("beforeunload", function(e){
			remove();
	});
	
});
</script>
</head>
<body>
<center><h2>협력사 수정</h2></center>
<div class="sensormodify">
	협력사 이름<input type="text" id="name" name="name" maxlength="33"/><br/>
	사업자 번호<input type="text" id="reg_number" name="reg_number" maxlength="15"/><br/>
	<input type="text" id="company_num" name="company_num" style="display : none"/><br/>
	<input type="button"  value="수정" id="mod" />
	</div>
</body> 
</html>