<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>보유센서</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/company/company.css">
</th:block>

<th:block layout:fragment="contents">
	
	<div class="main-panel">
	<div class="content">
	<div class="page-inner">
	<div class="card card-stats card-round">
	<div class="card-body">
		<div id="main-content">
			<div class="title-header">
				<h1>협력사 관리</h1>
				<button id="companyadd" value="add">협력사 추가</button>
			</div>

			<table id="company">
				<thead>
					<tr>
						<th scope="col" style="width:13%">협력사</th>
						<th scope="col" style="width:13%">사업자번호</th>
						<th scope="col" style="width:13%">현장 갯수</th>
					</tr>
				</thead>
				<tbody id="list" th:if="${company == null}">
				 	<tr th:each="companylist : ${companylist}">
						<td th:text="${companylist.name}"></td>
						<td th:text="${companylist.reg_number}"></td>
						<td th:text="${companylist.num}+'개'"></td>
						<td th:text="${companylist.company_num}" style="display : none"></td>
					</tr> 
					
					<tr></tr>
				</tbody>
				
				<tbody id="list" th:if="${company != null}">
					<tr th:each="companySearch : ${company}">
						<td th:text="${companySearch.name}"></td>
						<td th:text="${companySearch.reg_number}"></td>
						<td th:text="${companySearch.company_num}" style="display : none"></td>
					</tr> 
				</tbody>
			</table>
		</div>
		
		<div id="site_name">
		
		</div>

		<div class="pagination-container">
			<nav class="pagination-content">
				<div class="pagination">
					<a class="firstpage"> << </a>
					<a class="pagination-newer"> < </a> 
					
					<span class="pagination-inner" th:each="pageNum : ${pageNum}">
						 <a th:id="${pageNum}" th:text="${pageNum}"></a>
					</span> 
					
					<a class="pagination-older"> > </a>
					<a class="lastpage"> >> </a>
					<span id="lastNum" th:text="${lastNum}" style=display:none></span>
				</div>
			</nav>
		</div>

		<div class="search">
			<div class="select">
				<select id="search-select">
					<option value="name">협력사 이름</option>
					<option value="reg_number">사업자 번호</option>
				</select>
			</div>
			<section class="search-box">
				<div class="search-content">
					<input type="text" id="keyword"/>
				</div>
				<div class="search-button">
					<button id="search">Search</button>
				</div>
			</section>
		</div>
		</div>
		</div>
</div>
</div>
</div>
</th:block>

<th:block layout:fragment="page_js">
	<script src="/resources/js/company/company.js"></script>
	<script>
	$(document).ready(function(){

		 var sname = $('#company').children().eq(0).children().eq(4).text();
		 
	    	$.ajax({
	            url: "/company",
	            type: "POST",
	            dataType: "json",
	            data: sname,
	            success : function(data){
	            	console.log(data);
	                var str="";
	                
	                str +='<nav>';
	                for(var i = 0;  i < data.site.length; i++ ){
	          		  if(data.site[0] == 'f'){
	          			  str = str + '<li style="margin-left:20px;">없음</li>';
	          			  break;
	          		  }
	          		 str = str + '<li style="margin-left:20px;">'+data.site_name[i]+'</li>'
	          	 }
	                str +='</nav>';
	            	
	            }
	        }); // ajax END
	    
	});	 
	</script>
</th:block>
</html>