<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>점검이력 리스트 클릭시</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css"
		href="/resources/css/check/inchecklist.css">
		<style>
.bigPictureWrapper {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top:0%;
  width:100%;
  height:100%;


  z-index: 100;
}

.bigPicture {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}
</style>
</th:block>

<th:block layout:fragment="contents">
<div class='bigPictureWrapper'>
  <div class='bigPicture'>
  </div>
</div>

	<!-- 세션로그인 값 -->
	<div id ="id" th:text="${session.id}" style="display: none"></div>
	<!-- 작성자 -->
	<div id="writerid"  th:each="check : ${cklist}"  th:text="${check.user_id}" style="display : none"></div>

<div class="a">
	<div class="title1">
		<span class="title00" id="checktitle" th:each="check : ${cklist}" th:text="${check.title}"></span>
		<span id="site_name" class="index" th:each="check : ${cklist}" th:text="'|  ' + ${check.site_name}">	
		</span>
			
		<span class="sse" th:each="check : ${cklist}" th:if="${check.board_status ==0}" th:text ="open"></span>	
		<span class="sse" th:each="check : ${cklist}" th:if="${check.board_status ==1}" th:text ="fixed"></span> 	
	</div>

		
	<div class="site1">
		<span id="writername"  th:each="check : ${cklist}"  th:text="'작성자 : ' + ${check.name} "></span>
		<span class="se" maxlength="50" th:each="check : ${cklist}" th:text="${check.reg_date}"></span>
	</div>
	
	
	
	<div id="board_no"  th:each="board_no : ${board_no}"  th:text="${board_no}" style="display: none" >	
	</div>

	<div id="site_id" th:each="siteid : ${siteid}"  th:text="${siteid}" style="display: none" >
	</div>
	
	
	<div class="content">
		<p name="board_content" id="boardcontent" 
		th:each="check : ${cklist}" th:text="${check.board_content}" style="resize:none;" >
		</p>
		
		<!-- 사진 들어갈 부분 -->
		
		<div class="picturespot">
		<div class="uploadResult">
		<ul>
		</ul>
		</div>
		</div>
		
	</div>

</div>
<div class="but">
	<div class="but0">
		<button type="button" id="mb">수정</button>
        <button type="button" id="db">삭제</button>
   	</div>
</div>


</th:block>

<th:block layout:fragment="page_js">
		<script src="/resources/js/check/checkview.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script>
		$(document).ready(function(){
			 $(".uploadResult").on("click","li", function(e){
			    
			    var liObj = $(this);
			    
			    var path = encodeURIComponent(liObj.data("path")+"/" + liObj.data("uuid")+"_" + liObj.data("filename"));
			    
			    if(liObj.data("type")){
			      showImage(path.replace(new RegExp(/\\/g),"/"));
			    }else {
			      //download 
			      self.location ="/download?fileName="+path
			    }	    
			    
			  });
			  
			  function showImage(fileCallPath){	    
			    $(".bigPictureWrapper").css("display","flex").show();
			    
			    $(".bigPicture")
			    .html("<img src='/display?fileName="+fileCallPath+"' >")
			    .animate({width:'100%', height: '100%'}, 1000);
			    
			  }

			  $(".bigPictureWrapper").on("click", function(e){
			    $(".bigPicture").animate({width:'0%', height: '0%'}, 1000);
			    setTimeout(function(){
			      $('.bigPictureWrapper').hide();
			    }, 1000);
			  });

			var newURL =  window.location.pathname;

			var url = newURL.split('/');
			
			
			var board_no = parseInt(url[2]);
			   $.getJSON("/checkboard/getAttachList",{board_no : board_no},function(arr){
				   console.log(arr);
				   
				   var str = "";
					 
					 $(arr).each(function(i, attach){
						//image type
						if(attach.fileType){
							var fileCallPath = encodeURIComponent( attach.file_Path+ "/s_"+attach.uuid + "_"+attach.file_name);
						
							str += "<li data-path='"+attach.file_Path+"' data-uuid='"+attach.uuid+"' data-filename='"+attach.file_name+"' data-type='"+attach.fileType+"' ><div>";
							str += "<img src='/display?fileName="+fileCallPath+"'>";
							str += "</div>";
							str += "</li>";
						
						} else {
							str += "<li data-path='"+attach.file_Path+"' data-uuid='"+attach.uuid+"' data-filename='"+attach.file_name+"' data-type='"+attach.fileType+"' ><div>";
							str += "<span>" + attach.file_name + "</span><br />";
							str += "<img src='/resources/img/attach.png'>";
							str += "</div>";
							str += "</li>";
						}
						 
					 });
					 
					 $(".uploadResult ul").html(str);
					 
				 }); //end getjson
			   });
		</script>

</th:block>
</html>