<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>점검이력 글쓰기</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="/resources/css/check/cbweb.css">
	<link rel="stylesheet" media="(min-width:501px) and (max-width:800px)" href="/resources/css/check/cbtablet.css">
	<link rel="stylesheet" media="(min-width:0px) and (max-width:500px)" href="/resources/css/check/cbmobile.css">
</th:block>

<th:block layout:fragment="contents">
<form name="check" method="post" action="/checkboard/checkadd.do">
	<div class="a">
	<div class="index">점검이력</div>
	<div class="title1">
		<table class="table0">
	<th class="th01">&nbsp;&nbsp;제 목&nbsp;&nbsp;</th>
		<th class="th02"><input type="text" name="title" id="title" class="title00" maxlength="50"></input></th>
		</table>
	</div>
	<div class="site1">
		<table class="table0">
		<th class="th01">&nbsp;현장선택&nbsp;</th>
	<th class="th03">
		<select name="site_id" class="se">
   	      <option value="">현장선택</option>
  		  <option th:each="checksitelist : ${checksitelist}" th:value="${checksitelist.site_id}" th:text="${checksitelist.site_name}"></option>
		</select>
	</th>
	<th class="status">게시글 상태</th>
	<th class="stse">
		<select name="status" id="sse">
  		  <option value="0">open</option>
  		  <option value="1">fixed</option>
		</select>
	</th>
	</th>
	</table>
	</div>
	<div class="content">
		<textarea name="board_content" id="boardcontent" maxlength="1000" style="resize:none;"></textarea>
	</div>
	<div class="f0">
		<table class="table0">
		<th class="th05">첨부파일</th>
		<th class="th03"><input type="file" id="files[0]" name="files[0]" value=""></th>
	</table>
	</div>
	<div class="but">
		<div class="but0">
		<button type="button" class="back">목록으로</button>
        <button type="submit" class="insert">등록하기</button>
    	</div>
	</div>
</div>
</form>
</th:block>

<th:block layout:fragment="page_js">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</th:block>
</html>