<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>점검이력</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/check/checklist.css">
</th:block>

<th:block layout:fragment="contents">
	<div id="container">
		<div id="main-content">
			<div class="title-header">
				<h1>점검이력</h1>
				<a href="/checkboard/checkadd"><button id="write" value="write">글쓰기</button></a>
			</div>

			<table>
				<thead>
					<tr>
						<th scope="col" style="width:10%;">현장이름</th>
						<th scope="col" style="width:20%;">제목</th>
						<th scope="col" style="width:8%;">상태</th>
						<th scope="col" style="width:8%;">글쓴이</th>
						<th scope="col" style="width:10%;">날짜</th>
					</tr>
				</thead>
				<tbody id="checklist" th:if="${check == null}">
				 	<tr th:each="checkboardlist : ${checkboardlist}" >
						<td th:text="${checkboardlist.site_name}">status</td>
						<td th:text="${checkboardlist.title}">status</td>
						<td th:switch="${checkboardlist.board_status}">
						<span th:case="'0'">open</span>
						<span th:case="'1'">fixed</span>
						<span th:case="'2'">closed</span>
						</td>
						<td th:text="${checkboardlist.name}">status</td>
						<td th:text="${checkboardlist.reg_date}">status</td>
						<td th:text="${checkboardlist.board_no}" style="display : none"></td>
					</tr> 
				</tbody>
				
				<tbody id="checklist" th:if="${check != null}">
				 	<tr th:each="checkboardlist : ${check}" >
						<td th:text="${checkboardlist.site_name}">status</td>
						<td th:text="${checkboardlist.title}">status</td>
						<td th:switch="${checkboardlist.board_status}">
						<span th:case="'0'">open</span>
						<span th:case="'1'">fixed</span>
						<span th:case="'2'">closed</span>
						</td>
						<td th:text="${checkboardlist.name}">status</td>
						<td th:text="${checkboardlist.reg_date}">status</td>
						<td th:text="${checkboardlist.board_no}" style="display : none"></td>
					</tr> 
				</tbody>
			</table>
		</div>

		<div class="pagination-container">
			<nav class="pagination-content">
				<div class="pagination">
					<a class="pagination-newer">PREV</a> 
					
					<span class="pagination-inner" th:each="pageNum : ${pageNum}">
						 <a th:id="${pageNum}" th:text="${pageNum}"></a>
					</span> 
					
					<a class="pagination-older">NEXT</a>
				</div>
			</nav>
		</div>

		<div class="search">
			<div class="select">
				<select id="search-select">
					<option>현장이름</option>
					<option>글쓴이</option>
				</select>
			</div>
			<section class="search-box">
				<div class="search-content">
					<input type="text" id="keyword"/>
				</div>
				<div class="search-button">
					<button id="search">Search</button>
				</div>
			</section>
		</div>
</div>
</th:block>

<th:block layout:fragment="page_js">
	<script src="/resources/js/check/checklist.js"></script>
</th:block>
</html>