<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>점검이력 글쓰기 화면</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/check/checkadd.css">
</th:block>

<th:block layout:fragment="contents">
	 <div id="container">
      <div id="header">
        <h1>점검이력</h1>
        <hr size="2" noshade> 
      </div>
      <div id="content">
 
          <table id="write-form">
          <tr>
              <td>제목</td>
              <td><input type="text" name="title" id="input"/></td>
          </tr>
          <tr>
              <td colspan="2">
                  <textarea name="content" rows="30" cols="100"></textarea>
              </td>
          </tr>
          </table>
          <div style="text-align: center; padding-bottom: 15px;">
              <input type="submit" id="save" value="저장" />
          </div>
          
      </div>
      <div id="footer">
      </div>
    </div>
</th:block>

<th:block layout:fragment="page_js" >
	<!-- 	<script src="/resources/js/site/checkadd.js"></script> -->
</th:block>
</html>