@font-face {
  font-family: A신그래픽L;
  src: url('/resources/font/A신그래픽L.TTF');
}

body {
	 font-family: A신그래픽L;
}

h2 {
	font-size: 30px;
}

.login-card {
	width: 500px;
}

#btn1 {
	padding: 20px;
	margin-left: 20px;
}

#tel {
	width: 50%;
	margin-left: 4.5%;
}

#name{
	width: 50%;
	margin-left: 14%;
}

#name2 {
	width: 50%;
	margin-left: 11%;
}

#email {
	width: 50%;
	margin-left: 11%;
}

#ijn2 {
	width: 50%;
	margin-left: 19.7%;
}

#btn2 {
	padding: 10px;
	float: right;
	margin-right: 152px;
	width: 60px;
	font-size: 15px;
}

