@font-face {
  font-family: A신그래픽L;
  src: url('/resources/font/A신그래픽L.TTF');
}

body {
	 font-family: A신그래픽L;
}

h2 {
	font-size: 25px;
}

.login-card {
	width: 230px;
}

#btn1 {
	padding: 10px;
	font-size: 13px;
	bottom: 0px;
	float: right;
	margin-right: 3%;
	width: 80px;
}

#hr {
	margin-top: 50px;
}

#tel {
	width: 60%;
	margin-left: 5%;
}

#name {
	width: 60%;
	margin-left: 25%;
}

#name2 {
	width: 60%;
	margin-left: 10%;
}

#email {
	width: 60%;
	margin-left: 10%;
}

#btn2 {
	padding: 10px;
	font-size: 13px;
	bottom: 0px;
	float: right;
	margin-right: 13%;
}

.ijn {
	padding: 5px;
    position: relative;
    top: -25px;
    left: 65px;
    width: 60%;
    margin-bottom: 8%;
}

#ijn2 {
	width: 60%;
	margin-left: 28%;
	position: relative;
	top: -40px;
}

