@charset "UTF-8";

#container {
    width: 1000px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #bcbcbc;
  }
  #content {
    width: 1000px;
    margin-bottom: 20px;
    float: left;

  }
  #footer {
    clear: both;
    padding: 20px;

  }
  textarea {
    width:60%;
    height:50px;
    margin-top:5%;
  }
  #submit {
    float:right;
    width:65px;
    height:65px;
    margin-top:4.6%;

  }
  #writing {
    width:80.5%;
    padding: 6%;
    margin-top:3%;
    border: 1px solid #bcbcbc;
  }
  
  
  
  
.timeline-header {
  height: 30px;
}

.timeline-header h3 {
  float: left;
  margin: 0;
}

.timeline-header h5 {
  float: right;
  color: #524f4f;
  margin: 0;
}

.timeline {
  width: 340x;
  height: 70px;
  padding: 10px;
  margin: 20px;
  border: 1px solid #bcbcbc;
}



  @media ( min-width: 1000px ) {
    #container {
      width: 1000px;
    }
    #content {
    width: 1000px;
    height: auto;
    margin-bottom: 20px;
    float: left;
    }
    textarea {
    	float:left;
        width:80%;
        height:55px;
      }
      #submit {
        float:right;
        width:8%;
        height:60px;
        margin-top:5%;
        margin-right:10%;
      }
      #writing {
        width:68.5%;
        padding: 6%;
        margin-top:3%;
        border: 1px solid #bcbcbc;
      }
   #the_count{
  width:10%;
  margin:0;
  margin-right:0;
  } 
      
}
    @media (min-width:701px) and (max-width:1000px) {
    #container {
      width: auto;
    }
    #content {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    float: left;
    }

    #textarea {
        float: left;
        width: 80%;
        height:50px;
      
      }
    #submit { 
         top:5.2%;
        float:right;
        width:14%;
        height:55px;
       margin-right:0;
        margin-left:0; 
    }
    #writing {
        width:68.5%;
        padding: 6%;
        margin-top:3%;
        border: 1px solid #bcbcbc;
      }
    #the_count{
  width:10%;
  margin:0;
  margin-right:0;
  } 
   
  } 
  @media (max-width:700px) {
    #container {
        width: auto;
        display:relative;
      }
      #content {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        float: left;
        }
      
        #textarea {
        float: none;
        width: 75%;
        height:50px;
      }
    #submit { 
        top:5.2%;
        float:right;
        width:16%;
        height:55px;
       margin-right:3%;
        margin-left:4%; 
    }  
    #writing {
        width:85%;
        padding: 6%;
        margin-top:3%;
        border: 1px solid #bcbcbc;
      }
  } 