@charset "UTF-8";

.timeline {
  height: 150px;
}

.timeline h3 {
  float: left;
  margin: 0;
  margin-right: 1%;
}

.timeline h5 {
  float: right;
  color: #524f4f;
  margin: 0;
}

.timeline {
  width: 780px;
  height: 60px;
  padding: 10px;
  margin-left: -60px;
  margin-bottom: 10px;
  border: 1px solid #eaecf4;
  background-color: #f6f8fd;
}

 @media ( min-width: 1000px ) {

 }
	
	  @media (min-width:701px) and (max-width:1000px) {
.timeline {
	 margin-left: -9%;
  width:113.2%;
}
	}
	 @media (max-width:700px) {
	.timeline {
	 margin-left: -7.3%;
  width:106.5%;
}
	}

