@charset "UTF-8";

.timeline {
  height: 150px;
}

.timeline h3 {
  float: left;
  margin: 0;
}

.timeline h5 {
  float: right;
  color: #524f4f;
  margin: 0;
}

.timeline {
  width: 780px;
  height: 100px;
  padding: 10px;
  margin-left: -60px;
  margin-bottom: 10px;
  border: 1px solid #bcbcbc;
}
