@charset "UTF-8";

.none{
	display : none;
}

.status {
   width : 15%;
}

.sname {
   width : 15%;
}

.saddr{
   width: 50%;
}
.stime{
   width: 24%;
}

#site tr:hover {
   background-color: #D8D8D8;
}

#main-container {
  width: 1130px;
  height: 850px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #bcbcbc;
}
#left-content {
  width: 670px;
  height: 730px;
  padding: 10px;
  margin-bottom: 20px;
  float: left;
}
#right-content {
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  float: right;
}
#right-top {
  width: 400px;
  padding: 0;
  margin-bottom: 40px;
}
#right-bottom {
  width: 400px;
  margin-top:-30px;
}

.title-header {
  height: 50px;
  border-bottom: 1px solid #000000;
}

.title-header h1 {
  float: left;
  width: 150px;
  margin: 0;
  padding: 0 0 0 20px;
}

.title-header a {
  float: right;
  padding: 10px 20px 0 0;
}

.timeline-header {
  height: 30px;
}

.timeline-header h3 {
  float: left;
  margin: 0;
}

.timeline-header h5 {
  float: right;
  color: #524f4f;
  margin: 0;
}

.timeline {
  width: 340x;
  height: 45px;
  padding: 10px;
  margin: 7px;
  border: 1px solid #bcbcbc;
}

@media ( max-width: 1000px ) {
  #main-container {
    width: auto;
  }
  #left-content {
    float: none;
    width: auto;
  }
  #right-content {
    float: none;
    width: auto;
  }
  #right-top {
    float: none;
    width: auto;
  }
  #right-bottom {
    float: none;
    width: auto;
  }
  .title-header {
    float: none;
    width: auto;
  }
  .timeline {
    float: none;
    width: auto;
  }
  .timeline-header {
    float: none;
    width: auto;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  .images h5 {
  margin: 0 0 0 10%;
  font-size: 1.5em;
}
.images img {
  width:100%;
  height:100%;
   display: block;
  justify-content: center;
  align-items: center;
  padding: 13px;
}
}

.image-container {
  margin: auto;
  margin-left: 2%;
  max-width: 1000px;
}

.responsive-image {
  max-width: 80%; /* 이미지의 최대사이즈 */
  width /***/: 100%; /* only IE8 */
  height: auto;
  padding: 10%;
  margin:0;
  vertical-align: bottom;
}

/* .images img {
  width:120px;
  height:120px;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 13px;
} */

.images h5 {
  margin: 0 0 0 10%;
}


#chdate {
   margin-left: 10%;
   font-size: 0.8em;
}

#chstatus {
  color: #524f4f;
  margin: 0 0 5% 2%;
  font-size: 0.8em;
}


@media screen and (min-width: 700px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .images {
    width: 50%;
  }

}

@media screen and (min-width: 1000px) {
  .images {
    width: calc(100% / 3);
  }

}
