@charset "utf-8";

header .left { float: left; padding: 43px 0 0 118px; }
header h1 { float:left; padding: 0 300px 0 0; }
header .logout { display: none; }
header h1 a { display: block; width:132px; height:50px; background: url("images/str.png") no-repeat 0px 
0px; color:transparent; }
header a { color:black; }
header .close,
header .all,
header .left > div > div,
header h2 { display: none; }
header nav a {display: block; position:relative; height:50px;  line-height:50px; font-size: 30px; font-weight: bold;}
header nav a:before { content: ""; position: absolute; left:0; bottom:4px;  width:0; height:2px; background:#6E6E6E; transition:width 0.5s; }
header nav a:hover:before { width:100%; }
header .left > div { float: left; }
header .left > div nav li { float : left; padding:0 60px 0 0;}
header > ul {float: right; padding: 51px 200px 0 0;}
header > ul li { float:left; }
header > ul li a { display: block; width: 96px; height: 38px; line-height:38px; text-align: center; font-size: 12px; 
border:1px solid black; border-radius: 3px;}
/*header > ul li.logout {padding: 0 0 0 0px;}*/
/*header > ul li.logout { padding: 0 0 0 -5px; }*/
header .manmenu {display: none;}
header .manclose { color:transparent; }
/*.left { border: 1px solid black; }
.test { border: 1px solid black; }*/