<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/resources/css/login/login.css">
 
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <title>login</title>
  <script>
   $(document).ready(function () {
	   function login(){
		    var id  = $("#id").val();
	         var password = $("#pass").val();
	         
	          if(id == ""){
	                   alert("아이디를 입력하세요.");
	                   $("#id").focus();
	                   return; 
	               }
	               if(password == ""){
	                   alert("비밀번호를 입력하세요.");
	                   $("#pass").focus();
	                   return;
	               }   
	               
	          var query = {id:$("#id").val(), password:$("#pass").val()};
	          
	          $.ajax({
	             type : "POST",
	             dataType : 'text',
	             data : query,
	             url : "/login",
	             success : function(data) {
	              if(data == "success")
	                 window.location.href = "/";
	              else
	            	  document.getElementById("loginfail").innerHTML="아이디 또는 비밀번호가 틀렸습니다.";

	             }
	         });
	   }
	   
      $('#login').click(function() {
         	login();
      }); // 로그인 클릭 이벤트 종료

      //패스워드에 커서를 두고 엔터키를 누르면 로그인 함
      $("#pass").keydown(function(key) {
         if (key.keyCode == 13) {
            login();
         }
      });
      
      //아이디에 커서를 두고 엔터키를 누르면 로그인 함
      $("#id").keydown(function(key) {
         if (key.keyCode == 13) {
            login();
         }
      });

      
   });
</script>
</head>
<body>
   <div class="login-card">
            <div class="logo-image">
                    <center><img src="/resources/img/logo.png" width="160" height="100" ></center>
                    </div>
        <h3></h3><br>
      
        <input type="text" name="id" id="id" placeholder="Username">
        <input type="password" name="pass" id="pass" placeholder="Password">
        <div id="loginfail"></div>
        <input type="button" name="login" id="login" class="login login-submit" value="login">

      <div class="login-help">
        <a href="/login/help">아이디/비밀번호 찾기</a> | <a href="/login/sign">회원가입</a>
      </div>
    </div>
</body>
</html>