<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/resources/css/login/sign.css" rel="stylesheet" type="text/css"/>
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
</head>

<body>
	
	<form onsubmit="return check()" method="post" action="/login/signup" >
<!-- 	<div class="company-card">
		<p>회사</p>
  		 본사<input type="radio" name="company" checked="checked" value="STR" /> 
  		 타 회사<input type="radio" id="DEF"name="company"/><br/>
  		<div class="createbox"></div>
	</div> -->
    <div class="login-card">
    	<center>
        	<a href="/login"><img src="/resources/img/logo.png" width="160" height="100" ></a>
        </center>         
      <br>
   
      
        아이디<input type="text" name="user_id" id="user" placeholder="영문 이나 영문+숫자로만 작성" style="margin-left:15%" maxlength="12">
         <div class="errorstr" id="userstr"></div>
        비밀번호<input type="password" name="password" placeholder="Password" id="password" style="margin-left:11%" maxlength="16">
         <div class="errorstr" id="pwstr"></div>
        비밀번호 확인<input type="password" name="password2" placeholder="확인" id="password2" maxlength="16">
         <div class="errorstr" id="pwconfirmstr"></div>
        이름<input type="text" name="name" placeholder="이름" style="margin-left:19%" maxlength="5"><br>
        이메일<input type="email" name="email" placeholder="yjc@ac.kr" style="margin-left:15%" maxlength="30"><br>
        휴대폰번호<input type="tel" id="phone" name="phone" placeholder="01012345678" maxlength="11"> 
        <div class="successstr" id="phonestr"></div>
        <button type="button" id="sendAuth" class="ijn1">인증번호 전송</button>
        
        <input type="text" class="end" placeholder="인증번호" style="width: 53%; margin-left:21%" maxlength="6">

		<button type="button" id="checkAuth" class="ijn2">인증번호 확인</button><br>
		사업자번호 <select name="company_num" required id="companynum">
		<!--<option value="" disabled selected >회사 선택</option> -->
			<option th:each="com : ${Allcompany}" th:text=" ${com.name} + '[' + ${com.reg_number} + ']'" th:value="${com.company_num}">
            </option>
		</select><br/>
        <div class="errorstr" id="authstr"></div>
		<input type="text" class="color" name="color" style="display : none" />
        <input type="submit" name="login" class="login login-submit" value="가입하기">
       </div>
  </form>


    <script>
	var count = 0;
    function check() {
    	
//     	if(parseInt(count) === 0) {
// 			alert("인증번호 확인 버튼을 눌러주세요 ");
// 			return false;
// 		}		
    	if( $(".end").val() == "" ){
    		alert("인증번호 확인란에  빈값이 있습니다. 다시 확인해 주세요.");
    		return false;
    	}
    	
    	if( $("#user").val() == "") {
    		alert("아이디에  빈값이 있습니다. 다시 확인해 주세요.");
    		return false;
    	} 
    	
    	if($('#password').val() == "" ) {
    		alert("비밀번호에  빈값이 있습니다. 다시 확인해 주세요.");
    		return false;
    	} 
    	

    	if($('#password2').val() == "" ) {
    		alert("비밀번호 확인에  빈값이 있습니다. 다시 확인해 주세요.");
    		return false;
    	} 
    	
    	if($("#phone").val() == "" ) {
    		alert("휴대폰번호에  빈값이 있습니다. 다시 확인해 주세요.");
    		return false;
    	} 
		
		if($('.login-card').children().is('.errorstr')){
			
			if($("#authstr").attr('class') == "errorstr") {
				alert("인증번호 확인을 해주시길 바랍니다.");
			} else {
				alert("회원가입란에 적절하지 않은 요소가 있습니다. 다시 확인해 주세요.");
			}
			return false;
		} 
		
	}
    
    	$(document).ready(function() {
    		var colorCode = "#" + Math.round(Math.random() * 0xffffff).toString(16);
    		
    		$(".color").val(colorCode);
    		
    		$('#user').blur(function(){
    			var id  = $("#user").val();
    			
    			var query = {
    					id : id
    			}
    			if(id.length < 5 || id.length > 12)
    				document.getElementById("userstr").innerHTML="5자리 이상 12자리 이하로 작성해주세요.";
    			else{
    				$.ajax({
    				    type : "POST",
    				    dataType : 'text',
    				    data : query,
    				    url : "/login/signup_logincheck.do",
    				    success : function(data) {
    				    	if( data == "ok") {
    				    		$("#userstr").removeClass();
								$("#userstr").addClass("successstr");
    				    		document.getElementById("userstr").innerHTML="사용 가능한 아이디입니다.";
    				    	} else{
    				    		$("#userstr").removeClass();
								$("#userstr").addClass("errorstr");
    				    		document.getElementById("userstr").innerHTML="사용 불가능한 아이디입니다.";
    				    	}
    				    } // success 함수 종료
    				}); // ajax 함수 종료
    			
    			} // else함수 종료
    		}); //blur 종료
    		
    		$("#password").blur(function(){
    			var passwd = $('#password').val();
    			
    			if(passwd.length < 8 || passwd.length > 16){
    				$("#pwstr").removeClass();
					$("#pwstr").addClass("errorstr");
    				document.getElementById("pwstr").innerHTML="8자리 이상 16자리 이하로 작성해주세요.";
    			} else{
    				$("#pwstr").removeClass();
    				document.getElementById("pwstr").innerHTML="";
    			}
    				
    		});
    		

    		$("#password2").blur(function(){
    			var passwd = $('#password').val();
    			var passwd2 = $('#password2').val();
    			
    			if(passwd != passwd2){
    				$("#pwconfirmstr").removeClass();
					$("#pwconfirmstr").addClass("errorstr");
    				document.getElementById("pwconfirmstr").innerHTML="비밀번호가 일치하지 않습니다.";
    			} else if ( passwd == passwd2) {
    				$("#pwconfirmstr").removeClass();
					$("#pwconfirmstr").addClass("successstr");
    				document.getElementById("pwconfirmstr").innerHTML="비밀번호가 일치합니다.";
    			}
    			
    		});
    		
//     		$("#phone").blur(function(){
// 				var phone = $("#phone").val();

// 				if(phone.length == 10 || phone.length == 11){
// 					$("#phonestr").removeClass();
// 					$("#phonestr").addClass("successstr");
// 					document.getElementById("phonestr").innerHTML="사용 가능 합니다.";
// 				} else {
// 					$("#phonestr").removeClass();
// 					$("#phonestr").addClass("errorstr");
// 					document.getElementById("phonestr").innerHTML="10자리, 11자리로 작성해주세요.";
// 				}
// 			});
    		
    		//인증번호 전송 클릭 시
    		$("#sendAuth").click(function(){
    			//문자를 통해 인증번호를 전송 및 난수로 생성된 인증번호를 ajax return 값으로 받아 DB가아닌 스토리지에 저장 후 확인 ?
    			if( $("#user").val() == "") {
    				alert("아이디를 입력해주세요.");
    				return false;
    			}
    			
    			if( $("#phone").val() == "") {
    				alert("휴대폰번호를 입력해주세요.");
    				return false;
    			}	
    					
    			var query = {
    				id  : $("#user").val(),
    				phone : $("#phone").val()
    			};
    			
    			$.ajax({
    				type : "POST",
    				dataType : 'text',
    				url : "/login/sendAuth",
    				data : query,
    				success : function(data2) {
    					if( data2 != '') {
    						alert("인증번호 전송이 완료되었습니다.");
    						console.log(data2);
    						sessionStorage.setItem("number", data2);
    						
    					} else {
    						alert("인증번호 전송이 실패했습니다. 다시 시도해 주세요.");
    						
    					}
    					
    				}
    			});
    			
    		});
    		
    		//인증번호 확인 클릭 시
    		$("#checkAuth").click(function(){
    			//스토리지에 저장되어있는 인증번호를 가져와서 검사 ?
    			count++;
    			var inputNum = $(".end").val();
    			console.log(inputNum);
    			
    			var authNum = sessionStorage.getItem("number");
    			console.log(authNum);
    			
    			if(inputNum == authNum) {
    				alert("인증번호가 일치합니다.");
    				$("#authstr").removeClass();
					$("#authstr").addClass("successstr");
		    		document.getElementById("authstr").innerHTML="인증번호가 일치합니다.";
    			} else {
    				alert("인증번호가 다릅니다. 다시 시도해 주세요.");
    				$("#authstr").removeClass();
					$("#authstr").addClass("errorstr");
		    		document.getElementById("authstr").innerHTML="인증번호가 일치하지 않습니다.";
    			}
    			
    			
    		});
    		
    		$("input:radio[name=company]").click(function(){
    			if(  $("input[name=company]:checked").val() != "STR")  {
        			$('.createbox').append("<br/>회사 명 <input type='text' id='companyname'></input>");
        			$('.createbox').append("<br/>사업자 번호 <input type='text' name='regnumber'></input>");
        		} else if ($("input[name=company]:checked").val() == "STR"){
        			$(".createbox").empty();
        		}
    		});
    		
    		$(document).on('blur','#companyname', function(){
    			$("#DEF").val($("#companyname").val());
    		});
    		
    		
    	});
    </script>
</body>
</html>