<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/resources/css/login/sign.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
</head>

<body>
    <div class="login-card">
        <center> <b>회원가입</b> </center>             
      <br>
      <form onsubmit="return check()" method="post" action="/login/signup" >
        아이디<input type="text" name="user_id" id="user" placeholder="UserId">
         <div class="errorstr" id="userstr"></div>
        비밀번호<input type="password" name="password" placeholder="Password" id="password">
         <div class="errorstr" id="pwstr"></div>
        비밀번호 확인<input type="password" name="password2" placeholder="확인" id="password2">
          <div class="errorstr" id="pwconfirmstr"></div>
        이름<input type="text" name="name" placeholder="이름">
        이메일<input type="email" name="email" placeholder="yjc@ac.kr">
        휴대폰번호<input type="tel" id="phone" name="phone" placeholder="01012345678"> 
        <div class="errorstr" id="phonestr"></div>
        
        <button type="button" class="ijn">인증번호 전송</button>
        <input type="password" class="end" placeholder="인증번호">

        <input type="submit" name="login" class="login login-submit" value="가입하기">
      </form>
    </div>
    
    
    <script>
    function check() {
		
    	if( $("#user").val() == "" || $('#password').val() == "" || $('#password2').val() == "" ||	$("#phone").val() == ""){
    		alert("회원가입란에  빈값이거나 올바르지 않은 요소가 있습니다. 다시 확인해 주세요.");
    		return false;
    	}
		
    	alert($('form').children().is('.errorstr'));
		if($('form').children().is('.errorstr')){
			alert("회원가입란에  빈값이거나 올바르지 않은 요소가 있습니다. 다시 확인해 주세요.");
			return false;
		} else {
			return true;
		}
	}
    
    	$(document).ready(function() {
    		
    		$('#user').blur(function(){
    			var id  = $("#user").val();
    			
    			var query = {
    					id : id
    			}
    			if(id.length < 5 || id.length > 12)
    				document.getElementById("userstr").innerHTML="5자리 이상 12자리 이하로 작성해주세요";
    			else{
    				$.ajax({
    				    type : "POST",
    				    dataType : 'text',
    				    data : query,
    				    url : "/login/signup_logincheck.do",
    				    success : function(data) {
    				    	if( data == "ok") {
    				    		$("#userstr").removeClass();
								$("#userstr").addClass("successstr");
    				    		document.getElementById("userstr").innerHTML="사용 가능한 아이디입니다.";
    				    	} else{
    				    		$("#userstr").removeClass();
								$("#userstr").addClass("errorstr");
    				    		document.getElementById("userstr").innerHTML="사용 불가능한 아이디입니다.";
    				    	}
    				    } // success 함수 종료
    				}); // ajax 함수 종료
    			
    			} // else함수 종료
    		}); //blur 종료
    		
    		$("#password").blur(function(){
    			var passwd = $('#password').val();
    			
    			if(passwd.length < 8 || passwd.length > 16){
    				$("#pwstr").removeClass();
					$("#pwstr").addClass("errorstr");
    				document.getElementById("pwstr").innerHTML="8자리 이상 16자리 이하로 작성해주세요";
    			} else{
    				$("#pwstr").removeClass();
    				document.getElementById("pwstr").innerHTML="";
    			}
    				
    		});
    		

    		$("#password2").blur(function(){
    			var passwd = $('#password').val();
    			var passwd2 = $('#password2').val();
    			
    			if(passwd != passwd2){
    				$("#pwconfirmstr").removeClass();
					$("#pwconfirmstr").addClass("errorstr");
    				document.getElementById("pwconfirmstr").innerHTML="비밀번호가 일치하지 않습니다.";
    			} else if ( passwd == passwd2) {
    				$("#pwconfirmstr").removeClass();
					$("#pwconfirmstr").addClass("successstr");
    				document.getElementById("pwconfirmstr").innerHTML="비밀번호가 일치합니다.";
    			}
    			
    		});
    		
    		$("#phone").blur(function(){
				var phone = $("#phone").val();

				if(phone.length == 10 || phone.length == 11){
					$("#phonestr").removeClass();
					$("#phonestr").addClass("successstr");
					document.getElementById("phonestr").innerHTML="사용 가능 합니다.";
				} else {
					$("#phonestr").removeClass();
					$("#phonestr").addClass("errorstr");
					document.getElementById("phonestr").innerHTML="10자리, 11자리로 작성해주세요";
				}
			});
    		
    	});
    </script>
</body>
</html>