<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link href="sign.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <div class="login-card">
        <center> <b style="font-size : 20px">회원가입</b> </center>             
      <br>
      <form method="post">
        아이디<input type="text" name="user" placeholder="UserId">
        비밀번호<input type="password" name="pass" placeholder="Password">
        비밀번호 확인<input type="password" name="pass2" placeholder="확인">
        이름<input type="text" name="name" placeholder="이름">
        이메일<input type="email" name="email" placeholder="yjc@ac.kr">
        휴대폰번호<input type="tel" id="phone" name="phone" placeholder="01012345678"> 
        <button type="button" class="ijn">인증번호 전송</button>
        <input type="password" style="margin-top : 20px;" placeholder="인증번호">

        <input type="submit" name="login" class="login login-submit" value="가입하기">
      </form>
    </div>
</body>
</html>