<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>사용자관리</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" type="text/css" href="/resources/css/manage/managelist.css">
</th:block>

<th:block layout:fragment="contents">
	<div id="container">
		<div id="main-content">
			<div class="title-header">
				<h1>사용자관리</h1>
			</div>

			<table>
				<thead>
					<tr>
						<th scope="col" style="width:10%;">아이디</th>
						<th scope="col" style="width:10%;">이름</th>
						<th scope="col" style="width:18%;">이메일</th>
						<th scope="col" style="width:15%;">전화번호</th>
						<th scope="col" style="width:5%;">등급</th>
						<th style="width:8%;">승급요청</th>
					</tr>
				</thead>
				<tbody id="user" th:if="${manage == null}">
				 	<tr th:each="userlist : ${userlist}" >
						<td th:text="${userlist.user_id}"></td>
						<td th:text="${userlist.name}"></td>
						<td th:text="${userlist.email}"></td>
						<td th:text="${userlist.phone}"></td>
						<td th:text="${userlist.m_level}"></td>
						<td th:if="${userlist.re_level != 0}" th:text ="o"></td>
						<td th:if="${userlist.re_level == 0}" th:text ="x"></td>
			        </tr>
				</tbody>
				
				<tbody id="user" th:if="${manage != null}">
				 	<tr th:each="userlist : ${manage}" >
						<td th:text="${userlist.user_id}"></td>
						<td th:text="${userlist.name}"></td>
						<td th:text="${userlist.email}"></td>
						<td th:text="${userlist.phone}"></td>
						<td th:text="${userlist.m_level}"></td>
						<td th:if="${userlist.re_level != 0}" th:text ="o"></td>
						<td th:if="${userlist.re_level == 0}" th:text ="x"></td>
			        </tr>
				</tbody>
			</table>
		</div>

		<div class="pagination-container">
			<nav class="pagination-content">
				<div class="pagination">
					<a class="pagination-newer">PREV</a> 
					
					<span class="pagination-inner" th:each="pageNum : ${pageNum}">
						 <a th:id="${pageNum}" th:text="${pageNum}"></a>
					</span> 
					
					<a class="pagination-older">NEXT</a>
				</div>
			</nav>
		</div>

		<div class="search">
			<div class="select">
				<select id="search-select">
					<option value="name">이름</option>
					<option value="user_id">아이디</option>
				</select>
			</div>
			<section class="search-box">
				<div class="search-content">
					<input type="text" id="keyword"/>
				</div>
				<div class="search-button">
					<button id="search">Search</button>
				</div>
			</section>
		</div>
</div>
</th:block>

<th:block layout:fragment="page_js">
	
</th:block>
</html>