<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/resources/css/manage/usermodify.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
<script src="/resources/js/manage/manage.js"></script>
<script>
/*사용자 수정*/
$(document).ready(function() {
	var user_id = $(".zzz").text();
	
	
	   $.getJSON("/mypage/getAttachListmypage",{user_id : user_id},function(arr){
		   console.log(arr);
		   
		   var str = "";
			 
			 $(arr).each(function(i, attach){
				//image type
				if(attach.filetype){
					var fileCallPath = encodeURIComponent( attach.file_path+ "/s_"+attach.uuid + "_"+attach.file_name);
				
					str += "<li class='delete' data-path='"+attach.file_path+"' data-uuid='"+attach.uuid+"' data-filename='"+attach.file_name+"' data-type='"+attach.filetype+"' ><div>";
					str += "<img class='delete1' src='/display?fileName="+fileCallPath+"'>";
					str += "</div>";
					str += "</li>";
				
				} else {
					str += "<img src='/resources/img/manager.svg'>";
					
				}
				 
			 });
			 
			 $(".cell ul").html(str);
			
		 }); //end getjson
$("#confirm-modify").on("click", function() {
	var target = document.getElementById("selectBox");
	
	var user_id = $("#id").val();
	var name = $("#modify_name").val();
	var phone = $("#phonenumber").val();
	var m_level = target.options[target.selectedIndex].value;
	
	var query = {
			user_id : user_id,
			name : name,
			phone : phone,
			m_level : m_level
			
	}
	
	$.ajax({
		type : "POST",
		url : "/manage/updateuser.do",
		data : query,
		success : function(data) {
			if (data == "success") { 
				alert("수정완료");
				opener.parent.location="/manage/1"
				close();
				
			} else{
				  alert("수정실패");
			}
		}
	
	});	// ajax 종료
}); // #confirm-modify 종료


});
</script>
</head>

<body>
	<div id="main">
		<div id="title">
			<center>
				<h2>정보수정</h2>
			</center>
		</div>

		<div class="usermodify-card" th:each="userInfo : ${userInfo}">
			<div id="idname">
				<label>아이디</label><br>
				<input type="text" name="modify_name" id="id" th:value="${userInfo.user_id}" disabled="disabled"><br>
			
				<label id="name">이름</label><br>
				<input type="text" name="name" id="modify_name" th:value="${userInfo.name}"><br>	
			</div>
			
			<div id="images">
			<div class="cell" th:if="${userInfo.filetype = 'false'}">
         <div class="zzz" th:text="${userInfo.user_id}" style="display:none;"></div>
           <ul>
           </ul>
         </div>
         
         <div class="cell" th:if="${userInfo.filetype = 'true'}">
         <div class="zzz" th:text="${userInfo.user_id}" style="display:none;"></div>
			<ul>
			</ul>       
         </div>
			</div>
			
			<div id="ep">
				<label>이메일</label><br>
				<input type="text" name="modify_name" id="email" th:value="${userInfo.email}" disabled="disabled"><br>
				
				<label>휴대폰번호</label><br>
				<input type="text" name="modify_name" id="phonenumber" th:value="${userInfo.phone}"><br>
			
				<label id="level">등급</label><br>
				<select id="selectBox">
					<option value="1">1. 권한없음</option>
					<option value="2">2. 읽기권한</option>
					<option value="3">3. 쓰기권한</option>
					<option value="4">4. 수정권한</option>
					<option value="5">5. 관리자</option>
				</select>
			

			
			<p id="re_level"  th:each="userInfo : ${userInfo}" th:if="${userInfo.re_level != 0}"  th:text="'사용자 요청등급:'+' '+ ${userInfo.re_level}+'등급'"></p>
			<input type="submit" name="confirm-modify" id="confirm-modify" class="confirm-modify" value="수정">
			
			</div>

		</div>
</body>
</html>