<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/resources/css/mypage/imgupload.css">

<script src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>

<script>	
	$(document).ready(function() {
		$("#ok").click(function() {


		});
		
		$("#no").click(function() {
			close();
		});

	});
</script>
</head>

<body>
<div id="main">
    <div id="title">
        <center><h3>이미지 첨부</h3></center>
    </div>
    <div id="content">
    	<div id="upload">
        	<input type="file" value="images" id="file"/>
    	</div>
    </div>
    <h6>파일명이 영문, 숫자가 아닐경우 이미지가 안보일 수 있습니다.</h6>
   		<div id="btn">
   			<center>
        	<input type="button" id="ok" value="등록" />
        	<input type="button" id="no" value="취소" />
        	</center>
    	</div>
</div>
</body>
</html>