<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/resources/css/mypage/levelup.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase-messaging.js"></script>

<script>

var config = {
		  apiKey: "AIzaSyCvPX3WEIFtsNbN3JGsQzIvVSDFAOKGoqI",
		  authDomain: "sensorcloud-cb820.firebaseapp.com",
		  databaseURL: "https://sensorcloud-cb820.firebaseio.com",
		  projectId: "sensorcloud-cb820",
		  storageBucket: "sensorcloud-cb820.appspot.com",
		  messagingSenderId: "544037446198"
	};
	firebase.initializeApp(config);
	
	const messaging = firebase.messaging();

	messaging.usePublicVapidKey("BAiJYfYEXBiHRzsKJFqW5en4dEkOwKFr3KRPJIpNZ3kWk6QP0DHXOIMtoKdN6ca9Tk_JUo25btDxXFtheXjGRuE");
	
	 messaging.requestPermission().then(function(){
		console.log('요청 허용');
		return messaging.getToken();
	})
	.then(function(token){
		console.log(token);
	})
	.catch(function(err){
		console.log('요청 거절');
	});
	 
	function send(){
// 		var config = {
// 				  apiKey: "AIzaSyCvPX3WEIFtsNbN3JGsQzIvVSDFAOKGoqI",
// 				  authDomain: "sensorcloud-cb820.firebaseapp.com",
// 				  databaseURL: "https://sensorcloud-cb820.firebaseio.com",
// 				  projectId: "sensorcloud-cb820",
// 				  storageBucket: "sensorcloud-cb820.appspot.com",
// 				  messagingSenderId: "544037446198"
// 			};
// 			firebase.initializeApp(config);
			
// 			const messaging = firebase.messaging();

// 			messaging.usePublicVapidKey("BAiJYfYEXBiHRzsKJFqW5en4dEkOwKFr3KRPJIpNZ3kWk6QP0DHXOIMtoKdN6ca9Tk_JUo25btDxXFtheXjGRuE");
			
// 			 messaging.requestPermission().then(function(){
// 				console.log('요청 허용');
// 				return messaging.getToken();
// 			})
// 			.then(function(token){
// 				console.log(token);
// 			})
// 			.catch(function(err){
// 				console.log('요청 거절');
// 			});
			
			messaging.getToken().then(function(currentToken) {
				  if (currentToken) {
				    console.log(currentToken);
					
// 				    $.ajax({
// 						type : "POST",
// 						url : "/app/send/WebTokenSave.do",
// 						data : currentToken,
// 						contentType : 'application/json',
// 						success : function(data){
// 						}
// 					});
				    
				    
				    var select_level = $("#select_level option:selected").val();
					var user_id = $("#user_id").text();
			
				    var payload = {
				    		token : currentToken,
							message : user_id + "님의" + select_level + "등급 승급요청이 왔습니다."
				    }
					
					$.ajax({
						type : "POST",
						url : "/app/send/message.do",
						data : JSON.stringify(payload),
						contentType : 'application/json',
						success : function(data){
							console.log("갔다옴");
							console.log(data);
						}
					});
						    
				
				  } else {
				    // Show permission request.
				    console.log('No Instance ID token available. Request permission to generate one.');
			
				  }
				}).catch(function(err) {
				 	
				});
	}

	$(document).ready(function() {	
		
		$("#no").click(function() {
			close();
		});
		
			$("#ok").click(function() {
				send();
				
				var select_level = $("#select_level option:selected").val();

				var user_id = $("#user_id").text();

				var query = {

						user_id : user_id,
						re_level : select_level
				}

				$.ajax({

					type : "POST",
					data : query,
					url : "/manage/userlevelmanage.do",
					success : function(data) {

						if (data == "success") {
						
							alert("승급요청이 완료 되었습니다.");											
 							window.close();

						}
						
						else if(data=="false"){
						 	alert("승급요청이 실패하였습니다");
						}
					}

				});
			}); //ajax 종료
			
			
			
			
	});

</script>


</head>

<body>
	<div id="main">
		<div id="title">
			<center>
				<h2>승급요청</h2>
			</center>
		</div>

		<div id="content">
			<div id="now-level" th:each="userInfo : ${userInfo}">
				<center>
					<p th:text="|현재  ${userInfo.name} 님의 등급은 ${userInfo.m_level}등급 입니다.|"></p>
				</center>
				<p th:text="${userInfo.user_id}" id="user_id" style="display: none"></p>
				<!-- 승급요청시 사용자 관리에 id를 넘기기위함 -->
			</div>

			<div id="next-level">
				<select id="select_level">
					<option value="1">1. 권한없음</option>
					<option value="2">2. 읽기권한</option>
					<option value="3">3. 쓰기권한</option>
					<option value="4">4. 수정권한</option>
					<option value="5">5. 관리자</option>
				</select>
				<p>으로 승급 요청 하시겠습니까?</p>
			</div>
		</div>


		<div id="submit">
			<input type="button" id="ok" value="확인" />
			<input type="button" id="no" value="취소" />
		</div>
	</div>
</body>
</html>