<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">
<th:block layout:fragment="page_head">
	<title>마이페이지 유저 정보 수정</title>
	<meta charset="utf-8" />
</th:block>


<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="/resources/css/mypage/modifyuserinfo.css" />
	<link rel="stylesheet" href="/resources/css/mypage/mpweb.css" />
	<link rel="stylesheet"
		media="(min-width: 701px) and (max-width: 1000px)"
		href="/resources/css/mypage/mptablet.css" />
	<link rel="stylesheet" media="(min-width: 0px) and (max-width: 700px)"
		href="/resources/css/mypage/mpmobile.css" />
	<script src="/resources/js/mypage/mp.js"></script>
</th:block>

<th:block layout:fragment="contents">


	<div class="wrapper">

		<div class="w1" th:each="userInfo : ${userInfo} ">
			<div class="cell" th:if="${userInfo.file_path = 'null'}">
				<img src="/resources/img/manager.svg" />
			</div>
			<div class="cell" th:if="${userInfo.file_path != 'null'}">
				<img src="${userInfo.file_path}" />
			</div>
			
			<div class="name01" th:each="userInfo : ${userInfo}">
				<p class="n1" th:text="${userInfo.name}"></p>
				<p class="n2" th:text="등급 + ${userInfo.m_level}"></p>
			</div>
			
			<div class="name02">
				<input class="update" type="button" value="정보수정"> <input
					class="up" type="button" value="승급요청">
			</div>
		</div>

	<hr color="black" width=100%>
	<div class="w2">
		<div class="usermodify-card" th:each="userInfo : ${userInfo}">
			
			<div id=inhere1 style="color:red;"></div> 
			<label>아이디</label><br>
			<input type="text" name="modify_name" id="id" th:value="${userInfo.user_id}" disabled><br>
			
			
			<label>비밀번호</label><br>
			<input type="password" name="modify_name" id="password"><br> 
			
			<label>비밀번호 확인</label><div id="inhere2" style="color:red;"></div>
			<input type="password" name="modify_name" id="passwordconfirm"><br>
			<br>
			
			<label>이름</label><br>
			<input type="text" name="name" id="modify_name" th:value="${userInfo.name}"><br>
			
			<label>이메일</label><br>
			<input type="text" name="name" id="modify_email" th:value="${userInfo.email}" disabled><br>
			
			<label>휴대폰번호</label><br>
			<input type="text" name="modify_name" id="phonenumber" th:value="${userInfo.phone}"><br>
			
			<input type="submit" name="confirm-modify" id="confirm-modify" class="confirm-modify" value="확인">

		</div>
	</div>
</div>
</th:block>

</body>
</html>