<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>마이페이지 정보수정 비밀번호 확인</title>
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="/resources/css/mypage/mpweb.css" />
	<link rel="stylesheet" href="/resources/css/mypage/modifymypage.css" />
	<link rel="stylesheet" media="(min-width: 701px) and (max-width: 1000px)" href="/resources/css/mypage/mptablet.css" />
	<link rel="stylesheet" media="(min-width: 0px) and (max-width: 700px)" href="/resources/css/mypage/mpmobile.css" />
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="/resources/js/mypage/mp.js"></script>
	<script>
	var pop;
	
	function WindowReset( win /* Window Object */ ){ // 새창의 크기와 위치 재설정
        
		  // 
		  // 새창의 진행상황 체크 완료되면 코드실행 
		  // 
		  //while(win.document.readyState != 'complete'){}
		   
		  var winBody = win.document.body; 
		  // 
		  // 새창의 사이즈에 더해줄 marginWidth와 marginHeight 
		  // 

		  // 
		  // 새창의 사이즈 설정 
		  // 
		  var wid = winBody.scrollWidth + (winBody.offsetWidth+100)-5; 
		  var hei = winBody.scrollHeight + (winBody.offsetHeight - 100)+17; 
		  // 
		  // 사이즈 재조정 
		  // 
		  win.resizeTo(wid, hei); 
	}
	
		$(document).ready(function(){
			$(".mpmodify-submit").on('click', function() {
				var passwd = $("#pass").val();

				if (passwd = "") {
					alert("사용자 정보 수정을위해 비밀번호를 입력해주세요");
					$("#pass").focus();
					return;
				}

				var query = {
						password : $("#pass").val()
				};

				$.ajax({
					type : "POST",
					dataType : "text",
					data : query,
					url : "/mypage/mypageconfirmpasswd.do",
					success : function(data) {
						if (data == "success") {
							alert("비밀번호 일치");
							
						/*	 window.open("/mypage/modifymyinfo", "pop2", "status=no,toolbar=no,resizable=no,scrollbars="+scrollbars+",menubar=no, width=1, height=1, left="+left+", top="+top);
							 */
							 /* var win;
						     win = window.open("/mypage/modifymyinfo", "pop2", "status=no,toolbar=no,resizable=no,scrollbars="+scrollbars+",menubar=no, width=1, height=1, left="+(screen.availWidth/2-300)+", top="+(screen.availHeight/2-300)); 

						     win.opener = self.opener; */
						     /* 	console.log(opener)
							   pop = window.open("/mypage/modifymyinfo", "pop3",  "width=400,height=800,top="+(screen.availHeight/2-300)+",left="+(screen.availWidth/2-300)+"resizable=yes");
						     	pop.opener = self.opener; */
						     	
						       window.location.href = "/mypage/modifymyinfo";
						     	
								
						} else {
							alert("비밀번호가 틀렸습니다.");
						}
					}
				});
			});
			
		}); 
		</script> 
</head>
<body OnLoad="WindowReset(this)">
<div class="wrapper">

<!-- 		<div class="w1" th:each="userInfo : ${userInfo} ">
        <div class="cell" th:if="${userInfo.filetype = 'false'}">
         <div class="zzz" th:text="${userInfo.user_id}" style="display:none;"></div>
           <ul>
           </ul>
         </div>
         
         <div class="cell" th:if="${userInfo.filetype = 'true'}">
         <div class="zzz" th:text="${userInfo.user_id}" style="display:none;"></div>
			<ul>
			</ul>       
         </div>
  -->
			
<!-- 			<div class="name01" th:each="userInfo : ${userInfo}">
				<p class="n1" th:text="${userInfo.name}"></p> -->
				<!-- <p class="n2" th:text="등급 + ${userInfo.m_level}">
				 <p class="n3" th:switch="${userInfo.m_level}">
	               <span th:case="'1'">(권한없음)</span>
	               <span th:case="'2'">(읽기권한)</span>
	               <span th:case="'3'">(쓰기권한)</span>
	               <span th:case="'4'">(수정권한)</span>
	               <span th:case="'5'">(관리자)</span>
           		 </p>
				</p> -->
			</div>
			<!-- <div class="name02">
				<input class="update" type="button" value="정보수정"> 
				<input class="up" type="button" value="승급요청">
			</div>
		</div>
		<hr color="black" width=100%>  -->
		
		<div class="usermodify-card">
			<h1>비밀번호 확인</h1>
			<input type="password" name="pass" id="pass" placeholder="Password"> <br>		
			<input type="button" name="confirm" id="confirm-modify" class="mpmodify-submit" value="확인">
		</div>

</body>

</html>