<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">

<th:block layout:fragment="page_head">
	<title>내 점검이력 관리</title>
</th:block>

<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="/resources/css/mypage/mpweb.css" />
	<link rel="stylesheet" media="(min-width: 701px) and (max-width: 1000px)" href="/resources/css/mypage/mptablet.css" />
	<link rel="stylesheet" media="(min-width: 0px) and (max-width: 700px)" href="/resources/css/mypage/mpmobile.css" />
</th:block>

<th:block layout:fragment="contents">
<div class="main-panel">
	<div class="content">
	<div class="page-inner">
<div class="card card-stats card-round">
	<div class="card-body">
      <div class="w1" th:each="userInfo : ${userInfo} ">
        <div class="cell" th:if="${userInfo.filetype = 'false'}">
         <div class="zzz" th:text="${userInfo.user_id}" style="display:none;"></div>
           <ul>
           </ul>
         </div>
         
         <div class="cell" th:if="${userInfo.filetype = 'true'}">
         <div class="zzz" th:text="${userInfo.user_id}" style="display:none;"></div>
			<ul>
			</ul>       
         </div>


         <div class="name01" th:each="userInfo : ${userInfo}">
            <p class="n1" th:text="${userInfo.name}"></p>
            <p class="n2" th:text="등급 + ${userInfo.m_level}"></p>
            <p class="n3" th:switch="${userInfo.m_level}">
               <span th:case="'1'">(권한없음)</span>
               <span th:case="'2'">(읽기권한)</span>
               <span th:case="'3'">(쓰기권한)</span>
               <span th:case="'4'">(수정권한)</span>
               <span th:case="'5'">(관리자)</span>
            </p>
         </div>



        <!--  <div class="name02">
            <input class="update" type="button" value="정보수정" />
            <input class="up" type="button" value="승급요청" onClick="goPopup()" />
         </div> -->
      </div>

      <!--<h3>대표이미지 설정</h3>
       <div id="buttons">
         <input type="button" class="imgbtn" id="btnok" onClick="goPopupImg()" value="등록" />
         <input type="button" class="imgbtn" id="btnno" value="삭제" />
      </div>  -->
      
      <!-- <hr color="black" width=100%> -->

      <div class="title-header">
         <h1>나의 점검이력</h1>
      </div>
	
      <div class="w2">
         <table>
            <thead>
               <tr>
                  <th scope="col">현장이름</th>
                  <th scope="col">제목</th>
                  <th scope="col">상태</th>
                  <th scope="col">날짜</th>
               </tr>
            </thead>
            <tbody id="mypagechecklist">
               <tr th:each="mychecklist : ${mychecklist}">
                  <td th:text="${mychecklist.site_name}"></td>
                  <td th:text="${mychecklist.title}"></td>
                  <td th:switch="${mychecklist.board_status}">
                     <span th:case="'0'">open</span>
                     <span th:case="'1'">fixed</span>
                     <span th:case="'2'">closed</span>
                  </td>
                  <td th:text="${mychecklist.reg_date}"></td>
                  <td th:text="${mychecklist.board_no}" style="display: none"></td>
               </tr>

            </tbody>
         </table>

      </div>
      
      	
      			
      	</div>
      
      <div class="w3">
         <nav class="pagination-container">
            <div class="pagination">     
               <a class="firstpage"> << </a>
			   <a class="pagination-newer"> < </a> 
               
               <span class="pagination-inner" th:each="pageNum : ${pageNum}">
                  <a th:id="${pageNum}" th:text="${pageNum}"></a>
               </span> 
               
                <a class="pagination-older"> > </a>
				<a class="lastpage"> >> </a>
				<span id="lastNum" th:text="${lastNum}" style=display:none></span>          
            </div>
         </nav>
      </div>
	</div>
	</div>
	</div>
   </div>

</th:block>

<th:block layout:fragment="page_js">
	<script src="/resources/js/mypage/mp.js"></script>
	<script>

		
		function goPopupImg() {
			var pop = window.open("/mypage/imgupload", "pop",
					"width=400,height=300,top="+(screen.availHeight/2-300)+",left="+(screen.availWidth/2-300)+"resizable=yes");
		}
		
	</script>
	<script>
		$(document).ready(function(){
	
			var user_id = $(".zzz").text();
			
			
			   $.getJSON("/mypage/getAttachListmypage",{user_id : user_id},function(arr){
				   console.log(arr);
				   
				   var str = "";
					 
					 $(arr).each(function(i, attach){
						//image type
						if(attach.filetype){
							var fileCallPath = encodeURIComponent( attach.file_path+ "/s_"+attach.uuid + "_"+attach.file_name);
							console.log(fileCallPath);
							str += "<li class='delete' data-path='"+attach.file_path+"' data-uuid='"+attach.uuid+"' data-filename='"+attach.file_name+"' data-type='"+attach.filetype+"' ><div>";
							str += "<img class='delete1' src='/display?fileName="+fileCallPath+"'>";
							str += "</div>";
							str += "</li>";
						
						} else {
							str += "<img class='delete1' src='/resources/img/manager.svg'>";
							
						}
						 
					 });
					 
					 $(".cell ul").html(str);
					
				 }); //end getjson
				 
			   $("#btnno").on("click",function(e){
				    
				    console.log("delete file");
				      
// 				    var targetFile = $(".delete1").data("file");
				    
				  	var targetFile1 = $(".delete1").attr('src');
				  	var targetFile = targetFile1.split("=");
				  	var user_id = $(".zzz").text();
				  	
				    var type = $(".delete").data("type");
				    
				    var targetLi = $(".delete").closest("ul");
				    console.log(targetFile);
				    console.log(type);
				    console.log(targetLi);
				    
				    $.ajax({
				      url: '/deleteFilemypage',
				      data: {fileName: targetFile[1], type:type ,user_id:user_id},
				      dataType:'text',
				      type: 'POST',
				        success: function(result){  
				           targetLi.remove();
				           location.reload();
				         }
				    }); //$.ajax
				   });

			   });
		</script> 
		
</th:block>
</html>