
.guestbook-title {
    width: 60%;
    margin: 10px auto;
    padding:10px 20px;
    font-weight:normal; 
    font-size:1.5em; 
    background:#2d2d2d; 
    color:#fff
}
.guestbook-wrap {
    width: 60%;
    margin: auto;
    padding:20px; 
    border:1px solid #ddd; 
    background:#fff
}
/* Guestbook Form */
.guestbook-form {}

.guestbook-form dl.guestbook-guest {}

.guestbook-form dl.guestbook-guest dt {
    position: absolute;
    width:1px; 
    height:1px; 
    padding:0; 
    margin:-1px; 
    overflow:hidden; 
    clip:rect(0,0,0,0); 
    border:0;
}
.guestbook-form dl.guestbook-guest dd {
    margin-bottom:10px
}
.guestbook-form dl.guestbook-guest dd input {
    width:100%; 
    padding:10px 0; 
    border:1px solid #ddd; 
    background:#f9f9f9; 
    color:#999; 
    text-indent:10px;
}
.guestbook-form dl.guestbook-guest dd input:focus, .guestbook-form dl.guestbook-guest dd input:active {
    background:#fff; 
    color:#111
}
.guestbook-form .secret {}

.guestbook-form .secret label {
    cursor:pointer
}
.guestbook-form .secret input {
    width:24px; 
    height:24px; 
    margin-right:10px; 
    vertical-align:bottom;
}
.guestbook-form dl.guestbook-write 
{margin-top:10px;
}
.guestbook-form dl.guestbook-write dt {
    position: absolute; 
    width:1px; 
    height:1px; 
    padding:0; 
    margin:-1px; 
    overflow:hidden; 
    clip:rect(0,0,0,0); 
    border:0;
}
.guestbook-form dl.guestbook-write dd {}

.guestbook-form dl.guestbook-write dd textarea {
    width:100%; 
    margin-bottom:10px; 
    padding:10px 0; 
    height:500px; 
    border:1px solid #ddd; 
    background:#f9f9f9; 
    color:#999; 
    text-indent:10px;
}
.guestbook-form dl.guestbook-write dd textarea:focus, .guestbook-form dl.guestbook-write dd textarea:active {
    background:#fff; 
    color:#111
}
.guestbook-form button {
    display:block;
    float: right;
    width:10%; 
    margin:10px 0; 
    padding:10px 0; 
    border:1px solid #8ecef8; 
    background:#8ecef8; 
    color:#fff; 
    text-align:center;
}