body {
	background-color: #f8f9fc;
}
.a {
	width: 65%;
	margin: 20px auto;
	padding: 20px;
	border: none;
	background-color: #fff;
	margin-top: 120px;
}

.index {
	height: 50px;
	margin: 20px 20px 20px 20px;
	font-size: 1.6em;
	color: #6E6E6E;
	position: relative;
}

.title1 {
	width: 97%;
	height: 50px;
	border-bottom: 1px solid #000;
	margin: 20px 20px 20px 20px;
}

.table0 {
	width: 100%;
	height: 100%;
}

.title00 {
	width: 98%;
	height: 70%;
	margin-top: 3px;
	margin-left: 1%;
	position: relative;
	font-size: 2em;
}

.site1 {
	border: 3px solid white;
}

.th03 {
	width: 30%;
	text-align: left;
}

.se {
	float: right;
	font-size: 1.1em;
	margin-right: 2%;
}

.status {
	width: 10%;
	background-color: #dddfe6;
}

.stse {
	width: 15%;
	text-align: center;
}

.cc {
	text-align: center;
}

.sse {
	height: 60%;
	position: relative;
	font-size: 1.2em;
	color: #f8ca00;
}

.content {
	width: 97%;
	height: 100%;
	border: 3px solid white;
	margin: 20px 20px 20px 20px;
}

#boardcontent {
	width: 91%;
	height: 50%;
	font-size: 1.4em;
	padding: 30px;
}

.picturespot {
	width: 100%;
	height: 47%;
	margin: 0 auto;
}

.th05 {
	width: 5%;
	background-color: #dddfe6;
}

.f0 {
	width: 97%;
	height: 50px;
	border: 3px solid white;
	margin: 20px 20px 20px 20px;
}

.but {
	width: 97%;
	height: 50px;
}

.but0 {
	margin-top: 20px;
	text-align: center;
}

button {
	border: 1px solid #dddfe6;
	background-color: #FFF;
	width: 100px;
	height: 35px;
	cursor:pointer
}

button:hover {
	border: 1px solid #4e73df;
	cursor:pointer
}

#span {
	display: inline;
}

#writername {
	margin: 20px 20px 20px 20px;
	font-size: 1.3em;
	color: #6E6E6E;
}

.uploadResult {
	width: 100%;
}

.uploadResult ul {
	display: flex;
	flex-flow: row;
	justity-content: center;
	align-tiems: center;
	width: 100%;
	align-content: flex-start;
	flex-direction: column;
	flew-wrap: wrap;
	overflow: auto;
}

.uploadResult ul li {
	list-style: none;
	padding: 10px;
	align-content: center;
	text-align: center;
	width: 30%;
}

.uploadResult ul li img {
	width: 100%;
	height: 300px;
}

.uploadResult ul li span {
	color: white;
}

.bigPictureWrapper {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: gray;
	z-index: 100;
	background: rgba(255, 255, 255, 0.5);
}

.bigPicture {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bigPicture img {
	width: 600px;
}

@media screen and (max-width: 360px) {
	.a {
		width: 95%;
	}
	.index {
		margin: 20px 10px 10px 10px;
		display: inline-block;
		width: 50%;
	}
	#writername {
		width: 40%;
		margin: 0px;
		font-size: 1.2em;
		display: inline-block;
	}
	.title1 {
		width: 93%;
		margin: 10px 10px 10px 10px;
	}
	.th01 {
		width: 25%;
	}
	.th02 {
		width: 80%;
	}
	
	.th03 {
	
    width: 40%;
    
	}
	.site1 {
		width: 93%;
	}
	.status {
		width: 15%;
	}
	.stse {
		width: 15%;
		text-align: center;
	}
	.content {
		width: 93%;
		height: 500px;
		margin: 10px 10px 10px 10px;
	}
	.but {
		margin: 0 auto;
	}
}