<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{include/layout}">


<th:block layout:fragment="page_head">
	<title>메인페이지</title>
</th:block>

<th:block layout:fragment="page_css">
 	<link rel="stylesheet" type="text/css" href="/resources/css/main.css">
</th:block>
<th:block layout:fragment="contents">
	 <div id="main-container">
    <div id="left-content">
      <div class="title-header">
          <h1><a href="/sitelist/1">현장목록</a></h1>
          <a href="/sitelist/1">more</a>
      </div>
      <table id="siteTable">
        <thead>
          <tr>
            <th scope="col" class="status" style="width:8%;" >현재상태</th>
            <th scope="col" class="sname" style="width:15%;" >현장이름</th>
            <th scope="col" class="saddr" style="width:22%;" >주소</th>
            <th scope="col" class="stime" style="width:15%;" >데이터갱신시간</th>
          </tr>
        </thead>
        
        <tbody id="site">
          <tr th:each="sitelist : ${sitelist}">
           <td th:switch="${sitelist.site_status}">
				<img src="resources/img/gray.svg"  th:case="'0'">
				<img src="resources/img/green.svg" th:case="'1'">
				<img src="resources/img/red.svg"   th:case="'2'">
			</td>
            <td th:text="${sitelist.site_name}"></td>
            <td th:text="${sitelist.address}"></td>
            <td th:text="${sitelist.start_date}"></td>
			<td th:text="${sitelist.site_id}" style="display : none"></td>
         </tr>
        </tbody>
      </table>
    </div>

    <div id="right-content">
      <div id="right-top">
        <div class="title-header">
            <h1><a href="/check/1">점검이력</a></h1>
            <a href="/check/1">more</a>
        </div>
        <div class="image-container">
          <div class="grid">
            <div class="images" th:each="mainchecklist : ${mainchecklist}">
            	<div class="ddd" th:if="${mainchecklist.filetype != '1'}">

              		<img src="/resources/img/addimage.svg" class="responsive-image">
    			</div>
    			
    			<div class="ddd" th:if="${mainchecklist.filetype == '1'}">
    		 	<div th:text="${mainchecklist.board_no}" style="display:none;"></div>
            		<ul>
            
            		</ul>
    			</div>
    			
              	<h5 th:text="${mainchecklist.title}"></h5>
              	<h5 th:text=${mainchecklist.name}></h5>
              	<span th:text="${mainchecklist.board_no}" style="display:none;"></span>
              	<span id="chdate" th:text=${mainchecklist.reg_date}></span></br>
              	
              	<span id="chstatus" th:switch=${mainchecklist.board_status}>
              		<span class="status00" th:case="'0'">open</span>
              		<span class="status00" th:case="'1'">fixed</span>
              		<span class="status00" th:case="'2'">closed</span>
              	</span>
            </div>
            
          </div>
        </div> 
      </div>

      <div id="right-bottom">
        <div class="title-header">
          <h1><a href="/time/1">타임라인</a></h1>
           <a href="/time/1">more</a>
        </div>
        <div class="timeline" th:each="timelinelist : ${timelinelist}">
            <div class="timeline-header">
                <h3 th:text="${timelinelist.name}">id</h3>
                <h5 th:text="${timelinelist.time}">date</h5>
            </div>
            <p th:text="${timelinelist.content}">content</p>
          </div>
      </div>
    </div>
  </div>
</th:block>
	
	<th:block layout:fragment="page_js" >
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		
		
		<script>
		$(document).ready(function(){
	
			var bno = $(".ddd").text();
			
			
			var board_no = Number(bno);
			var count = 0;
		 	var check_num = 0;
		 	var str = "";
			var arr2 = {};
			for(var i=0; i < 6; i++){
				arr2[i] = $(".ddd").eq(i).text();
			   $.getJSON("/checkboard/getAttachListmain",{board_no : arr2[i]},function(arr0){
				
				  
					 $(arr0).each(function(i, attach){
	
						 str="";
						//image type
						if(attach.fileType){
							console.log("board_no : "+attach.board_no);
							console.log("count : "+count+","+attach.uuid);
							console.log(attach.file_name);
							
							var fileCallPath = encodeURIComponent( attach.file_Path+ "/s_"+attach.uuid + "_"+attach.file_name);
							
							str += "<img src='/display?fileName="+fileCallPath+"'>";
						} else {	
							str += "<img src='/resources/img/attach.png'>";
						}
						check_num = attach.board_no;
						
						/* if(check_num != attach.board_no && check_num !=0){								
							$(".ddd ul").text(attach.board_no).html(str);
							count=count+1;
							check_num = attach.board_no;
						}else{
							check_num = attach.board_no;
						} */
						/*  $(".imagearea").eq(i).children('ul').html(str); */
					 });
					
					 	$('.ddd:contains("'+check_num+'")').html(str);
				 }); //end getjson
			}
			   });
		</script>
		<script src="/resources/js/main.js"></script>
	</th:block>
	
</html>